<div class="bad_review">
    <img src="./images/order_aside_avatar.png" alt="Image">
    <p class="text-big">
        <strong>недовольны качеством обслуживания?</strong> Наш руководитель обязательно разберется в случившемся и незамедлительно примет решение по Вашей жалобе
    </p>
    <p class="text-small">
        Звоните руководителю
        <a href="tel:+7 (981) 798-98-21">
                    +7 (981) 798-98-21
                </a>
    </p>
    <button type="button" class="btn">
                Письмо руководителю
            </button>
</div>