
            <div class="bad_review-aside">
                <h3>
                    Вас плохо обслужили?
                </h3>
                <p>
                    Звоните руководителю
                </p>

                <a href="tel:+7(921) 312-54-00">
                    +7(921) 312-54-00
                </a>

                <p>
                    или пишите
                </p>

                <img src="./images/order_aside_avatar.png" alt="Image">

                <button class="btn" type="button">
                    Письмо руководителю
                </button>
            </div>