<footer class="footer">

    <div class="footer_container container">

        <div class="footer_top">
            <a href="/" class="footer_top-logo">
                <img src="./images/logo.png" alt="Logo">
            </a>

            <p>
                Нас знают и нам доверяют тысячи родителей и детей
            </p>
        </div>

        <div class="footer_content">
            <div class="row">
                <ul class="footer_content-menu">
                    <li class="js_active">
                      <a href="#">
                        Главная
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Каталог
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Автокресла
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Коляски
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Весы
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Условия
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Контакты
                      </a>
                    </li>
                </ul>
            </div>
            <div class="row align-items-center column-mob justify-content-center-md">
                <div class="footer_content-phones">

                    <img src="./images/icon-phone.png" alt="clock">
                    
                    <div class="">
                      <a href="tel:+7(921)312-54-00">+7(921) <span class="text-danger">312-54-00</span></a>
                      <a href="tel:+7(812)908-88-20">+7(812) <span class="text-danger">908-88-20</span></a>
                    </div>
                    
                    </div>
                
                
                    <div class="footer_content-recall">
                        <button type="button" class="btn" data-fancybox="" data-src="#modal_recall" data-touch="false">
                        Обратный звонок
                        </button>
                    </div>
                
                
                    <div class="footer_content-time">
                
                        <img src="./images/icon-clock.png" alt="clock">
                
                        <p>
                        Время работы
                
                        <span class="text-danger">
                            10<sup>00</sup> - 20<sup>00</sup>
                        </span>
                        </p>
                    </div>
                
                
                    <div class="footer_content-bucket">
                
                        <img src="./images/icon-bucket.png" alt="bucket">
                
                        <p>
                        Ваша корзина
                
                        <span class="text-danger">
                            Нет товаров
                        </span>
                        </p>
                    </div>
            </div>
            <div class="row justify-content-center-md">
                <p>
                    Все права защищены. 2020г.©АистЛандия. Запрещено копировать дизайн и информацию с сайта
                </p>
            </div>
        </div>

    </div>
  
</footer>