<div class="wrapper-page">
  <header class="header js_header">
    
    <div class="header_container container">
      <div class=" header_top">
        <a href="/" class="header_top-logo">
          <img src="./images/logo.png" alt="Logo">
        </a>
  
       <div class="header_top-burger js_header_top-burger">

        <div class="icon_burger-toggle">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 12H21" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M3 6H21" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M3 18H21" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
            
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="js_hidden">
            <path d="M16.9502 7.04883L7.0507 16.9483" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M7.0498 7.04883L16.9493 16.9483" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>

        <div class="header_top-phones">
  
          <img src="./images/icon-phone.png" alt="clock">
          
          <div class="">
            <a href="tel:+7(921)312-54-00">+7(921) <span class="text-danger">312-54-00</span></a>
            <a href="tel:+7(812)908-88-20">+7(812) <span class="text-danger">908-88-20</span></a>
          </div>
          
        </div>
  
  
        <div class="header_top-recall">
          <button type="button" class="btn"  data-fancybox="" data-src="#modal_success" data-touch="false">
            Обратный звонок
          </button>
        </div>
  
  
        <div class="header_top-time">
  
          <img src="./images/icon-clock.png" alt="clock">
  
          <p>
            Время работы
  
            <span class="text-danger">
              10<sup>00</sup> - 20<sup>00</sup>
            </span>
          </p>
        </div>
  
  
        <div class="header_top-bucket">
  
          <img src="./images/icon-bucket.png" alt="bucket">
  
          <p>
            Ваша корзина
  
            <span class="text-danger">
              Нет товаров
            </span>
          </p>
        </div>
       </div>
      </div>
  
  
      <ul class=" header_menu">
        <li class="js_active">
          <a href="#">
            Главная
          </a>
        </li>
        <li>
          <a href="#">
            Каталог
          </a>
        </li>
        <li>
          <p >
            Автокресла
          </p>
          

          <ul>
            <li>
             <a href="#">
              один
             </a>
            </li>
            <li>
             <a href="#">
              один
             </a>
            </li>
            <li>
             <a href="#">
              один
             </a>
            </li>
            <li>
             <a href="#">
              один
             </a>
            </li>
            <li>
             <a href="#">
              один
             </a>
            </li>
          </ul>

          <span class="icon-svg">
            <svg width="9" height="7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0.125 9 6.75" fill="#ffffff"><svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" viewBox="1.012 1.014 8 6"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M5.01 3.861L2.478 1.014 1.012 2.66 5.01 7.014 9.012 2.66 7.54 1.014 5.01 3.861z"/></svg></svg>
          </span>
        </li>
        <li>
          <p >
            Коляски
          </p>
          

          <ul>
            <li>
             <a href="#">
              один
             </a>
            </li>
            <li>
             <a href="#">
              один
             </a>
            </li>
            <li>
             <a href="#">
              один
             </a>
            </li>
            <li>
             <a href="#">
              один
             </a>
            </li>
            <li>
             <a href="#">
              один
             </a>
            </li>
          </ul>

          <span class="icon-svg">
            <svg width="9" height="7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0.125 9 6.75" fill="#ffffff"><svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" viewBox="1.012 1.014 8 6"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M5.01 3.861L2.478 1.014 1.012 2.66 5.01 7.014 9.012 2.66 7.54 1.014 5.01 3.861z"/></svg></svg>
          </span>
        </li>
        <li>
          <a href="#">
            Весы
          </a>
        </li>
        <li>
          <p>
            Условия
          </p>


          <ul>
            <li>
             <a href="#">
              один
             </a>
            </li>
            <li>
             <a href="#">
              один
             </a>
            </li>
            <li>
             <a href="#">
              один
             </a>
            </li>
            <li>
             <a href="#">
              один
             </a>
            </li>
            <li>
             <a href="#">
              один
             </a>
            </li>
          </ul>

          <span class="icon-svg">
            <svg width="9" height="7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0.125 9 6.75" fill="#ffffff"><svg xmlns="http://www.w3.org/2000/svg" width="9" height="7" viewBox="1.012 1.014 8 6"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M5.01 3.861L2.478 1.014 1.012 2.66 5.01 7.014 9.012 2.66 7.54 1.014 5.01 3.861z"/></svg></svg>
          </span>
        </li>
        <li>
          <a href="#">
            Контакты
          </a>
        </li>
      </ul>
  
  
      <div class=" header_content">
        <h1>
          акции
        </h1>
  
        <ul class="header_content-breadcrumbs">
          <li>
            <a href="#">Главная</a>
          </li>
          <li class="js_active">
            <a href="#">Акции</a>
          </li>
        </ul>
      </div>
    </div>

  </header>
