<div class="wrapper-page">
  <header class="header js_header">
    
    <div class="container header_top">
      <a href="/" class="header_top-logo">
        <img src="./images/logo.png" alt="Logo">
      </a>

      <div class="header_top-phones">

        <img src="./images/icon-phone.png" alt="clock">
        
        <div class="">
          <a href="tel:+7(921)312-54-00">+7(921) <span class="text-danger">312-54-00</span></a>
          <a href="tel:+7(812)908-88-20">+7(812) <span class="text-danger">908-88-20</span></a>
        </div>
        
      </div>


      <div class="header_top-recall">
        <button type="button" class="btn">
          Обратный звонок
        </button>
      </div>


      <div class="header_top-time">

        <img src="./images/icon-clock.png" alt="clock">

        <p>
          Время работы

          <span class="text-danger">
            10<sup>00</sup> -20<sup>00</sup>
          </span>
        </p>
      </div>


      <div class="header_top-bucket">

        <img src="./images/icon-bucket.png" alt="bucket">

        <p>
          Ваша корзина

          <span class="text-danger">
            Нет товаров
          </span>
        </p>
      </div>
    </div>


    <ul class="container header_menu">
      <li>
        <a href="#">
          Главная
        </a>
      </li>
      <li>
        <a href="#">
          Каталог
        </a>
      </li>
      <li>
        <a href="#">
          Автокресла
        </a>
      </li>
      <li>
        <a href="#">
          Коляски
        </a>
      </li>
      <li>
        <a href="#">
          Весы
        </a>
      </li>
      <li>
        <a href="#">
          Условия
        </a>
      </li>
      <li>
        <a href="#">
          Контакты
        </a>
      </li>
    </ul>


    <div class="container header_content">
      <h1>
        акции
      </h1>

      <ul class="header_content-breadcrumbs">
        <li>
          <a href="#">Главная</a>
        </li>
        <li class="js_active">
          <a href="#">Акции</a>
        </li>
      </ul>
    </div>

  </header>
