<ul class="pagination">
    <a href="#" class="pagination_arrow-prev">
        <span>
            предыдущая
        </span>
    </a>

    <li class="js_active">
        <a href="#">1</a>
    </li>
    <li class="">
        <a href="#">2</a>
    </li>
    <li class="">
        <a href="#">3</a>
    </li>
    <li class="">
        <a href="#">4</a>
    </li>
    <li class="">
        <a href="#">...</a>
    </li>
    <li class="">
        <a href="#">44</a>
    </li>


    <a href="#" class="pagination_arrow-next">
        <span>
            следующая
        </span>
    </a>
</ul>