<div class="why_we">
    <div class="container">
     <h2>
         почему нас выбирают
     </h2>

     <p>
         Наш прокат создан для того, чтобы радовать деток и их родителей. Мы даем в аренду <span class="text-bold">детские товары без ЗАЛОГА</span>. Мы понимаем наших клиентов, и например, не видим смысла брать залог если клиент и так тратит большие суммы при путешествии. У нас гибкая система скидок для постоянных клиентов! Взяли напрокат детский товар?! АистЛандия предоставит несколько <span class="text-bold">дополнительных дней проката БЕСПЛАТНО</span>. Мы ставим интересы наших клиентов на первое место! C нашим прокатом Ваша жизнь станет намного разнообразнее, а Ваш малыш сможет расти и развиваться, пользуясь лучшими игрушками и детскими товарами на все случаи жизни.
     </p>

     <div class="why_we-list">
         <div class="why_we-list--item">
             <h3>
                 <img src="./images/main_advantages_icon_1.png" alt="Image">
                 Lorem, ipsum dolor.

             </h3>

             <p>
                 За многие годы в сфере услуг проката детских товаров мы изучили потребности детей и их родителей. 
                 Мы сами родители и знаем, что нужно дома и в путешествии!
             </p>
         </div>
         <div class="why_we-list--item">
             <h3>
                 <img src="./images/main_advantages_icon_1.png" alt="Image">
                 Lorem, ipsum dolor.

             </h3>

             <p>
                 За многие годы в сфере услуг проката детских товаров мы изучили потребности детей и их родителей. 
                 Мы сами родители и знаем, что нужно дома и в путешествии!
             </p>
         </div>
         <div class="why_we-list--item">
             <h3>
                 <img src="./images/main_advantages_icon_1.png" alt="Image">
                 Lorem, ipsum dolor.

             </h3>

             <p>
                 За многие годы в сфере услуг проката детских товаров мы изучили потребности детей и их родителей. 
                 Мы сами родители и знаем, что нужно дома и в путешествии!
             </p>
         </div>
         <div class="why_we-list--item">
             <h3>
                 <img src="./images/main_advantages_icon_1.png" alt="Image">
                 Lorem, ipsum dolor.
             </h3>

             <p>
                 За многие годы в сфере услуг проката детских товаров мы изучили потребности детей и их родителей. 
                 Мы сами родители и знаем, что нужно дома и в путешествии!
             </p>
         </div>
     </div>

     

     <a href="#" class="btn">
         Перейти в каталог
     </a>
    </div>
 </div>