html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* make sure to set some focus styles for accessibility */
:focus { outline: 0 !important; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration { -webkit-appearance: none; -moz-appearance: none; }

input[type="search"] { -webkit-appearance: none; -moz-appearance: none; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/** Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3. */
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; max-width: 100%; }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address styling not present in IE 7/8/9, Firefox 3, and Safari 4. Known issue: no IE 6 support. */
[hidden] { display: none; }

/** 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using `em` units. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-size: 100%; /* 1 */ -webkit-text-size-adjust: 100%; /* 2 */ -ms-text-size-adjust: 100%; /* 2 */ }

/** Address `outline` inconsistency between Chrome and other browsers. */
a:focus { outline: thin dotted; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/** 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3. 2. Improve image quality when scaled in IE 7. */
img { border: 0; /* 1 */ -ms-interpolation-mode: bicubic; /* 2 */ }

/** Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11. */
figure { margin: 0; }

/** Correct margin displayed oddly in IE 6/7. */
form { margin: 0; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct color not being inherited in IE 6/7/8/9. 2. Correct text not wrapping in Firefox 3. 3. Correct alignment displayed oddly in IE 6/7. */
legend { border: 0; /* 1 */ padding: 0; white-space: normal; /* 2 */ *margin-left: -7px; /* 3 */ }

/** 1. Correct font size not being inherited in all browsers. 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5, and Chrome. 3. Improve appearance and consistency in all browsers. */
button, input, select, textarea { font-size: 100%; /* 1 */ margin: 0; /* 2 */ vertical-align: baseline; /* 3 */ *vertical-align: middle; /* 3 */ }

/** Address Firefox 3+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
button, input { line-height: normal; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+. Correct `select` style inheritance in Firefox 4+ and Opera. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. 4. Remove inner spacing in IE 7 without affecting normal text inputs. Known issue: inner spacing remains in IE 6. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ *overflow: visible; /* 4 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

input[type="password"]::-ms-reveal { color: #8b1a1a !important; }

/** 1. Address box sizing set to content-box in IE 8/9. 2. Remove excess padding in IE 8/9. 3. Remove excess padding in IE 7. Known issue: excess padding remains in IE 6. */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ *height: 13px; /* 3 */ *width: 13px; /* 3 */ }

/** 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome. 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari 5 and Chrome on OS X. */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Remove inner padding and border in Firefox 3+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** 1. Remove default vertical scrollbar in IE 6/7/8/9. 2. Improve readability and alignment in all browsers. */
textarea { overflow: auto; /* 1 */ vertical-align: top; /* 2 */ }

/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

html, button, input, select, textarea { color: #222; }

::-moz-selection { background: #b3d4fc; text-shadow: none; }

::selection { background: #b3d4fc; text-shadow: none; }

img { vertical-align: middle; }

fieldset { border: 0; margin: 0; padding: 0; }

textarea { resize: vertical; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

input::-webkit-input-placeholder { overflow: visible; }

input::-moz-placeholder { overflow: visible; }

input:-ms-input-placeholder { overflow: visible; }

input::-ms-input-placeholder { overflow: visible; }

input:-moz-placeholder { overflow: visible; }

input::placeholder { overflow: visible; }

input[type="submit"], input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none !important; }

input[type="number"] { -moz-appearance: textfield !important; }

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button { -webkit-appearance: none !important; }

a, label { -webkit-tap-highlight-color: transparent !important; }

a:hover { color: none; text-decoration: none; }

a { text-decoration: none; }

.text-danger { color: #ff587a; }

.container { width: 100%; max-width: 1170px; margin-left: auto; margin-right: auto; }

/* purgecss start ignore */
/* This stylesheet generated by Transfonter (https://transfonter.org) on June 26, 2017 12:11 PM */
@font-face { font-family: "Gotham Pro"; src: url("../fonts/GothamPro-Medium.eot"); src: local("Gotham Pro Medium"), local("GothamPro-Medium"), url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype"); font-weight: 500; font-style: normal; }

@font-face { font-family: "Gotham Pro"; src: url("../fonts/GothamPro-Bold.eot"); src: local("Gotham Pro Bold"), local("GothamPro-Bold"), url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype"); font-weight: bold; font-style: normal; }

@font-face { font-family: "Gotham Pro Narrow"; src: url("../fonts/GothamProNarrow-Bold.eot"); src: local("Gotham Pro Narrow Bold"), local("GothamProNarrow-Bold"), url("../fonts/GothamProNarrow-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProNarrow-Bold.woff") format("woff"), url("../fonts/GothamProNarrow-Bold.ttf") format("truetype"); font-weight: bold; font-style: normal; }

@font-face { font-family: "Gotham Pro Narrow"; src: url("../fonts/GothamProNarrow-Medium.eot"); src: local("Gotham Pro Narrow Medium"), local("GothamProNarrow-Medium"), url("../fonts/GothamProNarrow-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProNarrow-Medium.woff") format("woff"), url("../fonts/GothamProNarrow-Medium.ttf") format("truetype"); font-weight: 500; font-style: normal; }

@font-face { font-family: "Gotham Pro"; src: url("../fonts/GothamPro-Light.eot"); src: local("Gotham Pro Light"), local("GothamPro-Light"), url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype"); font-weight: 300; font-style: normal; }

@font-face { font-family: "Gotham Pro"; src: url("../fonts/GothamPro-Black.eot"); src: local("Gotham Pro Black"), local("GothamPro-Black"), url("../fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.ttf") format("truetype"); font-weight: 900; font-style: normal; }

@font-face { font-family: "Gotham Pro"; src: url("../fonts/GothamPro.eot"); src: local("Gotham Pro"), local("GothamPro"), url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "Junegull"; src: local("Junegull"), local("Junegull"), url("../fonts/Junegull.ttf") format("truetype"); font-weight: normal; font-style: normal; }

html, body { font-family: "Gotham Pro" !important; }

*, *:before, *:after { font-family: "Gotham Pro" !important; box-sizing: border-box; }

.btn { display: block; outline: 0; border: 0; box-shadow: 0 3px 0px 1px #d33c5b; transition: 0.3s ease; cursor: pointer; height: 38px; width: 100%; line-height: 38px; background-color: #ff587a; color: #fff; text-align: center; border-radius: 20px; }

.btn:hover { box-shadow: none; background-color: #ff0c3d; }

.btn:active { box-shadow: none; background-color: black; transition: 0s; }

.wrapper-page { min-height: 100vh; display: flex; flex-direction: column; overflow-x: hidden; }

.wrapper-page > * { width: 100%; }

.wrapper-page .main-page { flex: 1 0 auto; }

.header { padding-top: 36px; padding-bottom: 176px; background-image: url(../../images/header_bg.png); background-position: center top; background-size: cover; background-repeat: no-repeat; position: relative; }

.header_top { display: flex; flex-direction: row; align-items: center; margin-bottom: 35px; position: relative; z-index: 5; }

.header_top-bucket, .header_top-phones, .header_top-time { display: flex; flex-direction: row; }

.header_top-time, .header_top-bucket { font-size: 14px; }

.header_top-time span, .header_top-bucket span { display: block; font-size: 16px; }

.header_top-logo { margin-right: 136px; }

.header_top-phones { align-items: flex-end; margin-right: 30px; }

.header_top-phones img { width: 19px; height: 48px; margin-right: 5px; }

.header_top-phones a { color: #1c1d24; font-size: 15px; display: block; }

.header_top-phones a:hover span { transition: 0.3s ease; color: #1c1d24; }

.header_top-phones a:last-of-type { margin-top: 3px; }

.header_top-recall { margin-right: 30px; }

.header_top-recall .btn { max-width: 170px; min-width: 170px; font-size: 13px; }

.header_top-time { align-self: center; margin-right: 54px; }

.header_top-time img { margin-right: 7px; width: 34px; height: 34px; }

.header_top-bucket img { margin-right: 10px; width: 32px; height: 35px; }

.header_menu { max-width: 720px; padding: 30px 26px 50px 9px; margin-bottom: 5px; background-image: url(../../images/header-menu-bg.png); background-position: left; background-size: 95%; background-repeat: no-repeat; display: flex; flex-direction: row; align-items: center; position: relative; z-index: 5; }

.header_menu li { background-color: #fff; }

.header_menu li:first-of-type { border-top-left-radius: 50%; border-bottom-left-radius: 50%; }

.header_menu li:first-of-type a { padding-left: 24px; padding-right: 15px; }

.header_menu li:last-of-type { border-top-right-radius: 50%; border-bottom-right-radius: 50%; }

.header_menu li:last-of-type a { padding-right: 26px; }

.header_menu li a { display: block; padding-top: 21px; padding-bottom: 24px; padding-left: 18px; padding-right: 18px; color: #1c1d24; font-weight: bold; font-size: 12px; text-align: center; width: 100%; transition: 0.3s ease; }

.header_menu li a:hover { text-decoration: underline; }

.header_content { position: relative; z-index: 5; }

.header_content h1 { font-size: 36px; margin-bottom: 12px; color: #ff587a; display: block; text-align: center; text-transform: uppercase; font-family: "Junegull" !important; }

.header_content-breadcrumbs { display: flex; flex-direction: row; align-items: center; justify-content: center; }

.header_content-breadcrumbs li { position: relative; margin-right: 20px; }

.header_content-breadcrumbs li a { color: #5DC0FF; text-decoration: underline; }

.header_content-breadcrumbs li:after { content: "|"; position: absolute; right: -9px; color: #1c1d24; width: 2px; }

.header_content-breadcrumbs li:last-of-type { margin-right: 0; }

.header_content-breadcrumbs li:last-of-type:after { content: ""; }

.header_content-breadcrumbs li.js_active a { text-decoration: none; color: #1c1d24; }

/* purgecss end ignore */

/*# sourceMappingURL=site.css.map */
