<div id="modal_choose_small" class="modal modal-choose-small" style="display: none;">

  
    <div class="choose_small-header">
        
        <div class="choose_small-header--media swiper-container-modal">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                </div>
                <div class="swiper-slide">
                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                </div>
                <div class="swiper-slide">
                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                </div>
                <div class="swiper-slide">
                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                </div>
                <div class="swiper-slide">
                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                </div>
                <div class="swiper-slide">
                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>

        <h3>
            Коляска YOYA (или аналог) 
        </h3>


        <span class="discount-percent">
            скидка
            -43%
        </span>

    </div>
    
    <div class="choose_small-footer">
        
        <div class="row column-mob">
            
            <ul class="select-custom js_select-custom">
                <li>
                    аренда 1 неделя: 500
                </li>

                <ul>
                    <li>
                        аренда 1 неделя: 500
                    </li>
                    <li>
                        аренда 2 неделя: 500
                    </li>
                    <li>
                        аренда 3 неделя: 500
                    </li>
                    <li>
                        аренда 4 неделя: 500
                    </li>
                </ul>
            </ul>

            <button type="button" class="btn">
                Забронировать
            </button>
            
        </div>

        
        <div class="row column-mob">
            
            <p class="select-date-custom js_select-date-custom">
                21.12.2020 - 28.12.2020
            </p>

            <a  href="#">
                Забронировать
            </a>
            
        </div>

    </div>


</div>