<div id="modal_recall" class="modal modal-recall" style="display: none;">

    <h3>
        Обратный звонок
    </h3>

    <p>
        Заполните форму и наш менеджер свжется с Вами в течение 15 минут.
    </p>


    <div class="form-controll">
        <label for="recall_phone">
            Введите ваш телефон
        </label>

        <input id="recall_phone" name="recall_phone" type="tel" class="input-text" data-mask="+0 (000) 000-00-00" placeholder="+7 (___) ___-__-__">
    </div>

    <div class="form-controll">
        <label for="recall_name">
            Введите ваше имя
        </label>

        <input id="recall_name" name="recall_name" type="text" class="input-text" placeholder="Как к Вам обращаться?">
    </div>


    <button type="button" class="btn ">
        заказать звонок
    </button>

</div>