.header {
  padding-top: 36px;
  padding-bottom: 176px;
  background-image: url(../../images/header_bg.png);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  &_container {
    position: relative;
  }

  &_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 35px;
    position: relative;
    z-index: 5;

    &-burger {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: auto;

      @media (max-width: 960px) {
        > *:not(.icon_burger-toggle) {
          display: none;
        }
      }
    }

    .icon_burger-toggle {
      display: none;

      &:hover {
        cursor: pointer;

        path {
          stroke: $red;
          transition: 0.3s ease;
        }
      }

      @media (max-width: 960px) {
        display: block;
      }
    }

    &-logo {
      @media (max-width: 360px) {
        max-width: 220px;

        img {
          width: 100%;
        }
      }
    }

    &-bucket,
    &-phones,
    &-time {
      display: flex;
      flex-direction: row;
    }

    &-time,
    &-bucket {
      font-size: 14px;

      span {
        display: block;
        font-size: 16px;
      }
    }

    &-phones {
      align-items: flex-end;
      margin-right: 20px;

      @media (min-width: 1168px) {
        margin-right: 30px;
      }

      img {
        width: 19px;
        height: 48px;
        margin-right: 5px;
      }
      a {
        color: $black;
        font-size: 15px;
        display: block;

        &:hover {
          span {
            transition: 0.3s ease;
            color: $black;
          }
        }

        &:last-of-type {
          margin-top: 3px;
        }
      }
    }

    &-recall {
      margin-right: 20px;

      @media (min-width: 1168px) {
        margin-right: 30px;
      }
      .btn {
        max-width: 170px;
        min-width: 170px;
        font-size: 13px;
      }
    }

    &-time {
      margin-right: 20px;

      @media (min-width: 1168px) {
        margin-right: 54px;
      }

      img {
        margin-right: 7px;
        width: 34px;
        height: 34px;
      }
    }

    &-bucket {
      img {
        margin-right: 10px;
        width: 32px;
        height: 35px;
      }
    }
  }

  &_menu {
    max-width: 720px;
    padding: 30px 26px 50px 9px;
    margin-bottom: 5px;
    background-image: url(../../images/header-menu-bg.png);
    background-position: left;
    background-size: 95%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 960px) {
      display: none;
    }

    li {
      background-color: $white;
      position: relative;

      &:first-of-type {
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;

        a {
          padding-left: 24px;
          padding-right: 15px;
        }
      }

      &:last-of-type {
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;

        a {
          padding-right: 26px;
        }
      }

      .icon-svg {
        position: absolute;
        right: 0;
        top: 40%;
        width: 9px;
        height: 9px;
        transition: 0.3s ease;
        svg {
          fill: $blue;
          display: block;
        }

        @media (max-width: 640px) {
          right: 5px;
          svg {
            fill: $black;
          }
        }
        @media (max-width: 360px) {
          right: 0;
        }
      }
      p,
      a {
        display: block;
        padding-top: 21px;
        padding-bottom: 24px;
        padding-left: 18px;
        padding-right: 18px;
        color: $black;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        width: 100%;
        transition: 0.3s ease;
        cursor: pointer;
      }

      ul {
        transform: scaleY(0);
        transform-origin: 0 0;
        transition: 0.3s ease;
        position: absolute;
        z-index: 99;
        left: -50%;
        top: 100%;
        width: 200px;
        border-radius: 10px;
        background-color: $white !important;
        border-radius: 0;

        @media (max-width: 640px) {
          left: 0;
          width: 100%;
        }

        li {
          width: 100% !important;
          &:last-of-type {
            position: relative;
            border-radius: 0 !important;
            &:after {
              content: "";
              position: absolute;
              background-image: url(../../images/dropdown-menu-bottom.png);
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              width: 250px;
              height: 68px;
              display: block;
              left: 0;
              bottom: -65px;
              z-index: 9999999;
            }
          }

          &:first-of-type {
            border-radius: 10px 10px 0 0;
          }

          @media (max-width: 640px) {
            &:last-of-type {
              &:after {
                width: 100%;
              }
            }
          }

          p,
          a {
            padding: 7px 30px !important;
            font-weight: normal;
            position: relative;
            text-align: left;
            color: $blue !important;
            transition: 0.3s ease;
            cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAVCAMAAACXIvXeAAAAAXNSR0IB2cksfwAAAJZQTFRFAAAA////9vb27+/v6Ofn6+vr8/LzMSorOzc4QAAAAAAAHg8P5eXlPTk6LioqCAgIMS0uNDExKCUnCQkJBAEBLSkrLCcog4GBMCstHAYJYFtcJiAhfXt8BQUFOzc4JCAhUU9PZmJjBgIClZKTHRAS4eDgYFxdFhQWMiUla2hpLA0Rt7a2HwUHiIiJ2djYoJ6fGRQUBAQEXvikPQAAADJ0Uk5TAP////////HtGgUO///tEv7/8mFM6Pj/+k/07/sw493x/23/Yf/9cxX7O/+N////aD1kO9n7AAAAu0lEQVR4nF3Q1xKDIBBA0aWaACr2HjU9pv//z8U2sdzh6QwzLAsAIIrdrhAwaxtQFdgLMTixVkJYINZiJM1K9Pl89P2ZUBNzp74d/ZkQZmLs1B8Ab+9dDaI0oZoxU0UXCKP8ERJ+wO2hMcMxaISeDkV9/I2ZBZcIcXOUNmoB7POXoxYiQ3bHCxHeDU2RuB3HdvkEadKtJ0n/xDLZzSyz/1vK7bcivtV4iVTNsBXpnnDfyZXDV+1yM1Ze4QdjhwvIUXUm8AAAAABJRU5ErkJggg=="),
              default;
            &:before {
              position: absolute;
              content: "";
              left: 10px;
              background-image: url(../../images/icon-chevron-right-active.svg);
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
              display: block;
              width: 6px;
              height: 9px;
            }

            &:hover {
              background-color: $blue !important;
              color: $white !important;

              &:before {
                background-image: url(../../images/icon-chevron-right-white.svg);
              }
            }
          }
        }
      }

      &.js_active > p,
      &.js_active > a,
      &:hover > p,
      &:hover > a {
        color: $blue;
      }

      &:hover {
        ul {
          transform: scaleY(1);
        }

        .icon-svg {
          transform: scale(1, -1);

          @media (max-width: 640px) {
            svg {
              fill: $white;
            }
          }
        }
      }
    }
  }

  &_content {
    position: relative;
    z-index: 5;
    h1 {
      font-size: 36px;
      margin-bottom: 12px;
      color: $red;
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-family: "Junegull" !important;
    }

    &-breadcrumbs {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      li {
        position: relative;
        margin-right: 20px;

        a {
          color: $blue;
          text-decoration: underline;
        }

        &:after {
          content: "|";
          position: absolute;
          right: -9px;
          color: $black;
          width: 2px;
        }

        &:last-of-type {
          margin-right: 0;
          &:after {
            content: "";
          }
        }

        &.js_active {
          a {
            text-decoration: none;
            color: $black;
          }
        }
      }
    }
  }
}
