.wrapper-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  > * {
    width: 100%;
  }

  .main-page {
    flex: 1 0 auto;
  }
}

body {
  &.js_active_burger_menu {
    overflow: hidden !important;
    .header_top {
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      min-height: 100vh;
      background-color: $white;
      z-index: 999;
      padding: 36px 20px;
      background-image: url(../../images/header_bg.png);
      background-position: center top;
      background-size: cover;
      background-repeat: no-repeat;

      @media (max-width: 640px) {
        padding: 15px;
      }

      .header_top-burger {
        svg {
          display: none;

          &.js_hidden {
            display: block !important;
          }
        }

        path {
          stroke: $red;
        }
      }
    }

    .header_top-burger,
    .header_top {
      align-items: flex-start;
    }

    .icon_burger-toggle {
      position: fixed;
      right: 20px;
      top: 40px;
    }

    .header_top-burger {
      width: 100%;
      position: fixed;
      height: 120%;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      left: 0;
      top: -10%;

      > *:not(.icon_burger-toggle) {
        display: flex;

        @media (max-width: 640px) {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }

      @media (min-width: 640px) {
        flex-direction: row;
      }

      @media (max-width: 640px) {
        justify-content: unset;
        padding-top: 320px;
        top: 0;
      }
    }

    .header_top-logo {
      z-index: 999;
    }

    .header_menu {
      display: flex;
      z-index: 999;
      position: fixed;
      top: 20%;
      max-width: 100%;

      li {
        @media (max-width: 640px) {
          background-color: transparent;
          width: 33%;

          &:last-of-type {
            width: 100%;
          }
          &:hover,
          &.js_active {
            a,
            p {
              color: $white;
            }
          }
        }
        a {
          padding-left: 24px;
          padding-right: 24px;
        }
      }

      @media (max-width: 640px) {
        padding: 0;
        background: none;
        flex-wrap: wrap;
        left: 0;
      }
    }
  }
}
