@@include('../components/_head.html') @@include('../components/_header-page.html')

<main class="main-page about">

    <div class="container">
        <div class="about_main">

            <img class="img_bg" src="./images/about_bird.png" alt="Logo">

            <img class="about_main-logo" src="./images/about_logo.png" alt="Logo">

            <h2>
                прокат автокресел, весов, колясок, игрушек, электрокачелей, манежей и других детских товаров
            </h2>

            <div class="about_main-media">
                <img src="./images/about_poster.png" alt="Logo">
            </div>

            <div class="about_main-content">
                <p>
                    Наш прокат создан для того, чтобы радовать деток и их родителей. Дети растут, вместе с тем, меняются вкусы и интересы наших малышей. Купленная за большие деньги вещь через некоторое время уже ненужна (игрушки, кресла, кроватки, коляски и т.д.). Мы пытаемся
                    раздать друзьям, что-то продать, а большая часть пылятся на дачах и по углам квартиры.
                </p>

                <p>
                    Рассмотрим ситуацию когда к вам приехали гости с малышом из другого города! Или вы сами собираетесь посетить Санкт-Петербург с ребенком! Что делать? Покупать? Везти с собой? Нет, выход есть! Можно взять в напрокат автокресло, манеж-кровать или стульчик
                    для кормления сделав заказ прямо у нас на сайте выбрав из каталога все необходимое .
                </p>
            </div>
        </div>

        <div class="about_advantages">

            <div class="about_advantages-block">
                <img src="./images/about_icon_shield.png" alt="Shield">
            </div>

            <div class="about_advantages-block">
                <h2>
                    Почему нас выбирают и доверяют нам?
                </h2>

                <h4>
                    без залога и поручителей
                </h4>

                <p>
                    Мы работаем по договору проката, это значит что для аренды товара достаточно только паспорта. Понимаем наших клиентов, не видим смысла брать залог если клиент и так тратит большие суммы при путешествии. У нас гибкая система скидок для постоянных клиентов!
                </p>
            </div>

            <div class="about_advantages-block">
                <h4>
                    без залога и поручителей
                </h4>

                <p>
                    Мы работаем по договору проката, это значит что для аренды товара достаточно только паспорта. Понимаем наших клиентов, не видим смысла брать залог если клиент и так тратит большие суммы при путешествии. У нас гибкая система скидок для постоянных клиентов!
                </p>
            </div>

            <div class="about_advantages-block">
                <h4>
                    без залога и поручителей
                </h4>

                <p>
                    Мы работаем по договору проката, это значит что для аренды товара достаточно только паспорта. Понимаем наших клиентов, не видим смысла брать залог если клиент и так тратит большие суммы при путешествии. У нас гибкая система скидок для постоянных клиентов!
                </p>
            </div>
        </div>

        <div class="about_order">
            <div class="about_order-block">
                <img src="./images/about_icon_box.png" alt="Shield">
                <p>
                    Как оформить заказ на прокат товара?
                </p>
            </div>

            <div class="about_order-list">
                <div class="about_order-list--item">

                    <picture>
                        <img src="./images/about_icon_click.png" alt="Image">

                        <span>
                            .01
                        </span>
                    </picture>

                    <p>
                        Выберите интересующий вас товар в каталоге на нашем сайте в разделе <a href="#" class="text-bold">Каталог товаров</a>
                    </p>

                </div>
                <div class="about_order-list--item">

                    <picture>
                        <img src="./images/about_icon_click.png" alt="Image">

                        <span>
                            .02
                        </span>
                    </picture>

                    <p>
                        Выберите интересующий вас товар в каталоге на нашем сайте в разделе <a href="#" class="text-bold">Каталог товаров</a>
                    </p>

                </div>
                <div class="about_order-list--item">

                    <picture>
                        <img src="./images/about_icon_click.png" alt="Image">

                        <span>
                            .03
                        </span>
                    </picture>

                    <p>
                        Выберите интересующий вас товар в каталоге на нашем сайте в разделе <a href="#" class="text-bold">Каталог товаров</a>
                    </p>

                </div>
                <div class="about_order-list--item">

                    <picture>
                        <img src="./images/about_icon_click.png" alt="Image">

                        <span>
                            .04
                        </span>
                    </picture>

                    <p>
                        Выберите интересующий вас товар в каталоге на нашем сайте в разделе <a href="#" class="text-bold">Каталог товаров</a>
                    </p>

                </div>
            </div>


        </div>

        <div class="about_position">
            <div class="about_position-block">
                <div class="about_position-block--title">
                    <img src="./images/about_icon_market.png" alt="Shield">
                    <p>
                        Как оформить заказ на прокат товара?
                    </p>
                </div>

                <p>
                    Мы находимся в непосредственной близости от метро Пролетарская, заказав прокат онлайн — Вы можете посетить наш пункт выдачи и забрать арендованный детский товар самостоятельно. Если вам нужна доставка, то Наши курьеры доставят и заберут взятый в аренду
                    товар в удобное для вас время и по минимальной цене.
                </p>
            </div>

            <div class="about_position-map">
                <img src="./images/about_map.jpg" alt="Image">


                <div class="about_position-map--block">
                    <p class="text-blue text-bold">
                        г. Колпино
                    </p>
                    <p>
                        ул. Тверская, д.50, «Пункт выдачи интернет заказов OZON»
                    </p>

                    <p>
                        <span class="text-bold">Режим работы:</span> Ежедневно с 10 <sup>00</sup> до 21 <sup>00</sup>
                    </p>

                    <p>
                        Открыт для посетителей
                    </p>

                    <p>
                        <span>
                            !
                        </span> Внимание! Масочный режим
                    </p>
                </div>

                <div class="about_position-map--block">
                    <p class="text-blue text-bold">
                        г. Колпино
                    </p>
                    <p>
                        ул. Тверская, д.50, «Пункт выдачи интернет заказов OZON»
                    </p>

                    <p>
                        <span class="text-bold">Режим работы:</span> Ежедневно с 10 <sup>00</sup> до 21 <sup>00</sup>
                    </p>

                    <p>
                        Открыт для посетителей
                    </p>

                    <p>
                        <span>
                            !
                        </span> Внимание! Масочный режим
                    </p>
                </div>

                <div class="about_position-map--block">
                    <p class="text-blue text-bold">
                        г. Колпино
                    </p>
                    <p>
                        ул. Тверская, д.50, «Пункт выдачи интернет заказов OZON»
                    </p>

                    <p>
                        <span class="text-bold">Режим работы:</span> Ежедневно с 10 <sup>00</sup> до 21 <sup>00</sup>
                    </p>

                    <p>
                        Открыт для посетителей
                    </p>

                    <p>
                        <span>
                            !
                        </span> Внимание! Масочный режим
                    </p>
                </div>

                <div class="about_position-map--block">
                    <p class="text-blue text-bold">
                        г. Колпино
                    </p>
                    <p>
                        ул. Тверская, д.50, «Пункт выдачи интернет заказов OZON»
                    </p>

                    <p>
                        <span class="text-bold">Режим работы:</span> Ежедневно с 10 <sup>00</sup> до 21 <sup>00</sup>
                    </p>

                    <p>
                        Открыт для посетителей
                    </p>

                    <p>
                        <span>
                            !
                        </span> Внимание! Масочный режим
                    </p>
                </div>

                <div class="about_position-map--block">
                    <p class="text-blue text-bold">
                        г. Колпино
                    </p>
                    <p>
                        ул. Тверская, д.50, «Пункт выдачи интернет заказов OZON»
                    </p>

                    <p>
                        <span class="text-bold">Режим работы:</span> Ежедневно с 10 <sup>00</sup> до 21 <sup>00</sup>
                    </p>

                    <p>
                        Открыт для посетителей
                    </p>

                    <p>
                        <span>
                            !
                        </span> Внимание! Масочный режим
                    </p>
                </div>

                <div class="about_position-map--block">
                    <p class="text-blue text-bold">
                        г. Колпино
                    </p>
                    <p>
                        ул. Тверская, д.50, «Пункт выдачи интернет заказов OZON»
                    </p>

                    <p>
                        <span class="text-bold">Режим работы:</span> Ежедневно с 10 <sup>00</sup> до 21 <sup>00</sup>
                    </p>

                    <p>
                        Открыт для посетителей
                    </p>

                    <p>
                        <span>
                            !
                        </span> Внимание! Масочный режим
                    </p>
                </div>
            </div>

        </div>

        <div class="about_catalog">
            <div class="about_position-block side_right">
                <div class="about_position-block--title">
                    <img src="./images/about_icon_box.png" alt="Shield">
                    <p>
                        Как оформить заказ на прокат товара?
                    </p>
                </div>

                <p>
                    Мы находимся в непосредственной близости от метро Пролетарская, заказав прокат онлайн — Вы можете посетить наш пункт выдачи и забрать арендованный детский товар самостоятельно. Если вам нужна доставка, то Наши курьеры доставят и заберут взятый в аренду
                    товар в удобное для вас время и по минимальной цене.
                </p>
            </div>

            <div class="about_catalog-list">
                <div class="about_catalog-list--item">
                    <img src="./images/about_catalog_img_1.png" alt="Image">
                    <p>Lorem, ipsum.</p>
                </div>
                <div class="about_catalog-list--item">
                    <img src="./images/about_catalog_img_1.png" alt="Image">
                    <p>Lorem, ipsum.</p>
                </div>
                <div class="about_catalog-list--item">
                    <img src="./images/about_catalog_img_1.png" alt="Image">
                    <p>Lorem, ipsum.</p>
                </div>
                <div class="about_catalog-list--item">
                    <img src="./images/about_catalog_img_1.png" alt="Image">
                    <p>Lorem, ipsum.</p>
                </div>
                <div class="about_catalog-list--item">
                    <img src="./images/about_catalog_img_1.png" alt="Image">
                    <p>Lorem, ipsum.</p>
                </div>
                <div class="about_catalog-list--item">
                    <img src="./images/about_catalog_img_1.png" alt="Image">
                    <p>Lorem, ipsum.</p>
                </div>
                <div class="about_catalog-list--item">
                    <img src="./images/about_catalog_img_1.png" alt="Image">
                    <p>Lorem, ipsum.</p>
                </div>
                <div class="about_catalog-list--item">
                    <img src="./images/about_catalog_img_1.png" alt="Image">
                    <p>Lorem, ipsum.</p>
                </div>
                <div class="about_catalog-list--item">
                    <img src="./images/about_catalog_img_1.png" alt="Image">
                    <p>Lorem, ipsum.</p>
                </div>
                <div class="about_catalog-list--item">
                    <img src="./images/about_catalog_img_1.png" alt="Image">
                    <p>Lorem, ipsum.</p>
                </div>
                <div class="about_catalog-list--item">
                    <img src="./images/about_catalog_img_1.png" alt="Image">
                    <p>Lorem, ipsum.</p>
                </div>
                <div class="about_catalog-list--item">
                    <img src="./images/about_catalog_img_1.png" alt="Image">
                    <p>Lorem, ipsum.</p>
                </div>
                <div class="about_catalog-list--item">
                    <img src="./images/about_catalog_img_1.png" alt="Image">
                    <p>Lorem, ipsum.</p>
                </div>
                <div class="about_catalog-list--item">
                    <img src="./images/about_catalog_img_1.png" alt="Image">
                    <p>Lorem, ipsum.</p>
                </div>
                <div class="about_catalog-list--item">
                    <img src="./images/about_catalog_img_1.png" alt="Image">
                    <p>Lorem, ipsum.</p>
                </div>
                <div class="about_catalog-list--item">
                    <img src="./images/about_catalog_img_1.png" alt="Image">
                    <p>Lorem, ipsum.</p>
                </div>
                <div class="about_catalog-list--item">
                    <img src="./images/about_catalog_img_1.png" alt="Image">
                    <p>Lorem, ipsum.</p>
                </div>
                <div class="about_catalog-list--item">
                    <img src="./images/about_catalog_img_1.png" alt="Image">
                    <p>Lorem, ipsum.</p>
                </div>
            </div>
        </div>


        <div class="bad_review">
            <img src="./images/order_aside_avatar.png" alt="Image">
            <p class="text-big">
                <strong>недовольны качеством обслуживания?</strong> Наш руководитель обязательно разберется в случившемся и незамедлительно примет решение по Вашей жалобе
            </p>
            <p class="text-small">
                Звоните руководителю
                <a href="tel:+7 (981) 798-98-21">
                    +7 (981) 798-98-21
                </a>
            </p>
            <button type="button" class="btn">
                Письмо руководителю
            </button>
        </div>
    </div>

</main>

@@include('../components/_footer-page.html') @@include('../components/_footer.html')