@@include('../components/_head.html') @@include('../components/_header-page.html')

<main class="main-page bucket">

    <div class="container row align-items-start column-md">

        <div class="bucket_main">

           <div class="bucket_main-mob--scroll">
                <div class="bucket_main-table">

                    <div class="bucket_main-table--header">
                        <p>
                            Наименование
                        </p>
                        <p>
                            Срок аренды
                        </p>
                        <p>
                            Цена
                        </p>
                        <p>
                            Кол-во
                        </p>
                        <p>
                            Убрать
                        </p>
                    </div>
        
                    <ul class="bucket_main-table--body">
                        <li>
                            <div class="bucket_item-title">
                                <div class="bucket_item-title--img">
                                    <img src="./images/order_aside_img_1.png" alt="Image">
        
                                </div>
                                <p>
                                    Трехколеный велосипед 
                                Formula3
                                </p>
                            </div>
        
                            <div class="bucket_item-time">
                                <p>
                                    14 дней
                                </p>
                            </div>
        
                            <div class="bucket_item-cost">
                                <p>
                                    650Р
                                </p>
                            </div>
        
                            <div class="bucket_item-count">
                                <span class="icon-svg bucket_item-count--plus">
                                    <svg width="20" height="21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0.486 20 20.028" fill="#dbdbdb"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="1.993 1.961 18.995 19.022"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M18.206 4.746a9.487 9.487 0 0 0-13.43 0c-3.71 3.714-3.71 9.736 0 13.45a9.487 9.487 0 0 0 13.43 0c3.71-3.714 3.71-9.736 0-13.45zm-.775 7.151a.856.856 0 0 1-.848.85h-3.818v3.824c0 .466-.38.847-.849.85h-.85a.854.854 0 0 1-.849-.85v-3.824H6.4a.852.852 0 0 1-.849-.85v-.851a.852.852 0 0 1 .849-.85h3.818V6.37a.855.855 0 0 1 .849-.849h.85a.852.852 0 0 1 .849.85v3.824h3.818c.465 0 .845.381.848.85v.851z"/></svg></svg>
                                </span>
        
                                <p> 
                                    1   
                                </p>
        
                                <span class="icon-svg bucket_item-count--minus">
                                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0.513 20 18.974" fill="#dbdbdb"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="1.994 1.963 18.995 18.02"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M18.207 4.601c-3.709-3.518-9.722-3.518-13.43 0-3.71 3.52-3.71 9.224 0 12.743 3.708 3.519 9.721 3.519 13.43 0 3.71-3.519 3.71-9.223 0-12.743zm-.775 6.775c-.003.443-.383.804-.848.805H6.4c-.467 0-.847-.361-.849-.805v-.806c.002-.445.382-.805.849-.805h10.184c.465 0 .845.361.848.805v.806z"/></svg></svg>
                                </span>
                            </div>
        
                            <div class="bucket_item-remove">
                                <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0.001 0 14.998 15" fill="#d2d2d2"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="1.005 1.005 13.998 14"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M15.003 13.806L9.198 8.008l5.805-5.801-1.198-1.202-5.802 5.798-5.8-5.798-1.198 1.202 5.802 5.8-5.802 5.8 1.198 1.198 5.8-5.793 5.802 5.793 1.198-1.199z"/></svg></svg>
                            </div>
                            
                        </li>
                        <li>
                            <div class="bucket_item-title">
                                <div class="bucket_item-title--img">
                                    <img src="./images/order_aside_img_1.png" alt="Image">
        
                                </div>
                                <p>
                                    Трехколеный велосипед 
                                Formula3
                                </p>
                            </div>
        
                            <div class="bucket_item-time">
                                <p>
                                    14 дней
                                </p>
                            </div>
        
                            <div class="bucket_item-cost">
                                <p>
                                    650Р
                                </p>
                            </div>
        
                            <div class="bucket_item-count">
                                <span class="icon-svg bucket_item-count--plus">
                                    <svg width="20" height="21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0.486 20 20.028" fill="#dbdbdb"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="1.993 1.961 18.995 19.022"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M18.206 4.746a9.487 9.487 0 0 0-13.43 0c-3.71 3.714-3.71 9.736 0 13.45a9.487 9.487 0 0 0 13.43 0c3.71-3.714 3.71-9.736 0-13.45zm-.775 7.151a.856.856 0 0 1-.848.85h-3.818v3.824c0 .466-.38.847-.849.85h-.85a.854.854 0 0 1-.849-.85v-3.824H6.4a.852.852 0 0 1-.849-.85v-.851a.852.852 0 0 1 .849-.85h3.818V6.37a.855.855 0 0 1 .849-.849h.85a.852.852 0 0 1 .849.85v3.824h3.818c.465 0 .845.381.848.85v.851z"/></svg></svg>
                                </span>
        
                                <p> 
                                    1   
                                </p>
        
                                <span class="icon-svg bucket_item-count--minus">
                                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0.513 20 18.974" fill="#dbdbdb"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="1.994 1.963 18.995 18.02"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M18.207 4.601c-3.709-3.518-9.722-3.518-13.43 0-3.71 3.52-3.71 9.224 0 12.743 3.708 3.519 9.721 3.519 13.43 0 3.71-3.519 3.71-9.223 0-12.743zm-.775 6.775c-.003.443-.383.804-.848.805H6.4c-.467 0-.847-.361-.849-.805v-.806c.002-.445.382-.805.849-.805h10.184c.465 0 .845.361.848.805v.806z"/></svg></svg>
                                </span>
                            </div>
        
                            <div class="bucket_item-remove">
                                <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0.001 0 14.998 15" fill="#d2d2d2"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="1.005 1.005 13.998 14"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M15.003 13.806L9.198 8.008l5.805-5.801-1.198-1.202-5.802 5.798-5.8-5.798-1.198 1.202 5.802 5.8-5.802 5.8 1.198 1.198 5.8-5.793 5.802 5.793 1.198-1.199z"/></svg></svg>
                            </div>
                            
                        </li>
                        <li>
                            <div class="bucket_item-title">
                                <div class="bucket_item-title--img">
                                    <img src="./images/order_aside_img_1.png" alt="Image">
        
                                </div>
                                <p>
                                    Трехколеный велосипед 
                                Formula3
                                </p>
                            </div>
        
                            <div class="bucket_item-time">
                                <p>
                                    14 дней
                                </p>
                            </div>
        
                            <div class="bucket_item-cost">
                                <p>
                                    650Р
                                </p>
                            </div>
        
                            <div class="bucket_item-count">
                                <span class="icon-svg bucket_item-count--plus">
                                    <svg width="20" height="21" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0.486 20 20.028" fill="#dbdbdb"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="1.993 1.961 18.995 19.022"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M18.206 4.746a9.487 9.487 0 0 0-13.43 0c-3.71 3.714-3.71 9.736 0 13.45a9.487 9.487 0 0 0 13.43 0c3.71-3.714 3.71-9.736 0-13.45zm-.775 7.151a.856.856 0 0 1-.848.85h-3.818v3.824c0 .466-.38.847-.849.85h-.85a.854.854 0 0 1-.849-.85v-3.824H6.4a.852.852 0 0 1-.849-.85v-.851a.852.852 0 0 1 .849-.85h3.818V6.37a.855.855 0 0 1 .849-.849h.85a.852.852 0 0 1 .849.85v3.824h3.818c.465 0 .845.381.848.85v.851z"/></svg></svg>
                                </span>
        
                                <p> 
                                    1   
                                </p>
        
                                <span class="icon-svg bucket_item-count--minus">
                                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0 0.513 20 18.974" fill="#dbdbdb"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="1.994 1.963 18.995 18.02"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M18.207 4.601c-3.709-3.518-9.722-3.518-13.43 0-3.71 3.52-3.71 9.224 0 12.743 3.708 3.519 9.721 3.519 13.43 0 3.71-3.519 3.71-9.223 0-12.743zm-.775 6.775c-.003.443-.383.804-.848.805H6.4c-.467 0-.847-.361-.849-.805v-.806c.002-.445.382-.805.849-.805h10.184c.465 0 .845.361.848.805v.806z"/></svg></svg>
                                </span>
                            </div>
        
                            <div class="bucket_item-remove">
                                <svg width="15" height="15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0.001 0 14.998 15" fill="#d2d2d2"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="1.005 1.005 13.998 14"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M15.003 13.806L9.198 8.008l5.805-5.801-1.198-1.202-5.802 5.798-5.8-5.798-1.198 1.202 5.802 5.8-5.802 5.8 1.198 1.198 5.8-5.793 5.802 5.793 1.198-1.199z"/></svg></svg>
                            </div>
                            
                        </li>
                    </ul>
                </div>
           </div>

            <p class="mb-4">
                Проверьте, пожалуйста, перед тем как заказать, все ли верно заполнено. Если заказ отображается верно, то можете нажать кнопку "Оформить зказ".
            </p>

            @@include('../components/_delivery_block.html')
        </div>

        <div class="bucket_aside">

            <form>
                <h3>
                    Купон
                </h3>
                <div class="form-control">
                    <input type="text" class="input-text" placeholder="Код купона">
                    <span class="error">
                        Не верный код, купон не применился
                    </span>
                    <span >
                        Код успешно применен
                    </span>

                    <img src="./images/bucket_icon_retry.png" alt="Image">
                </div>


                <h3>
                    Доставка
                </h3>
                <div class="form-control radio_btn">
                    <input id="bucket_delivery" type="radio" name="bucket_delivery">
                    <span></span>
                    <label for="bucket_delivery">
                        самовывоз (выбрать пункт)
                        доставка в пределах КАД
                        доставка за КАД
                    </label>
                </div>

                <h3>
                    Информация о заказе
                </h3>
                

            <div class="bucket_aside-result">

                <div class="row align-items-center">
                    <p>
                        Стоимость доставки:
                    </p>
                    <p>
                        0р
                    </p>
                </div>
                <div class="row align-items-center">
                    <p>
                        Скидка по купону:
                    </p>
                    <p>
                        0р
                    </p>
                </div>
                <div class="row align-items-center">
                    <p>
                        Общая стоимость:
                    </p>
                    <p>
                        0р
                    </p>
                </div>
            </div>

            <div class="bucket_aside-btns">
                <button class="btn">
                    Оформить заказ
                </button>
    
                <a href="#">
                    Продолжить покупки
                </a>
            </div>

                @@include('../components/_bad_review_aside.html') 

            </form>


            

        </div>

    </div>

</main>

@@include('../components/_footer-page.html') @@include('../components/_footer.html')