@@include('../components/_head.html') @@include('../components/_header-page.html')

<main class="main-page contacts">

    <div class="container">

        <h3>
            <img src="./images/contacts_icon_home.png" alt="Icon-home"> Основной пункт выдачи м. Пролетарская
        </h3>

        <div class="row column-md contacts_main-position">

            <div class="contacts_main-position--block">
                <img class="img_bg" src="./images/contacts_poster_img_1.png" alt="Image">

                <img src="./images/contacts_icon_target_white.png" alt="Image">

                <p class="text-bold">
                    СПб, пр-т Обуховской обороны, д. 116, к.1,
                </p>

                <p>
                    ежедневно с 10.00 до 20.00
                </p>

                <div class="block_with_bg">
                    <p class="text-bold">
                        Расположен в ТЦ "НЕВА", вход по центру здания, на лифте 3 этаж, первый офис справа
                    </p>

                    <div class="row column-mob align-items-center justify-content-center">
                        <a href="tel:+7(921)312-54-00">
                            <img src="./images/contacts_icon_phone_white.png" alt="Image"> +7(921)312-54-00
                        </a>
                        <a href="tel:+7(812)908-88-20">
                            <img src="./images/contacts_icon_phone_white.png" alt="Image"> +7(812)908-88-20
                        </a>
                    </div>
                </div>

                <a href="mailto:info@storkland.ru">
                    <img src="./images/contacts_icon_mail_white.png" alt="Image"> info@storkland.ru
                </a>
            </div>

            <div class="contacts_main-position--map">
                <img src="./images/contacts_poster_img_2.png" alt="Image">
            </div>


        </div>

        <div class="row column-md contacts_main-info">
            <div class="contacts_main-info--content">
                <h3>
                    <img src="./images/contacts_icon_download.png" alt="Image"> Обратная связь
                </h3>

                <p>
                    По всем интересующим Вас вопросам Вы можете обратиться к нам с помощью формы обратной связи. Отправьте сообщение и наши специалисты свяжутся с Вами в ближайшее время.
                </p>

                <div class="row column-mob align-items-start">

                    <p>
                        <img src="./images/contacts_icon_document.png" alt="Image"> ООО "АистЛандия" ОГРН 12345678900012 ИНН 123456789 КПП 9876543
                    </p>

                    <p>
                        <img src="./images/contacts_icon_mail.png" alt="Image"> Почтовый адрес: 192012, Санкт-Петербург, пр. Обуховской Обороны, 116, к1, офис 315Д
                    </p>

                </div>
            </div>

            <div class="contacts_main-info--form">
                <h3>
                    <img src="./images/contacts_icon_call.png" alt="Image"> Остались вопросы? Мы вам перезвоним
                </h3>

                <form>
                    <div class="row column-md">
                        <div class="form-control">
                            <input id="contacts_name" name="contacts_name" type="text" class="input-text" placeholder="Ваше имя">
                        </div>
                        <div class="form-control">
                            <input id="contacts_phone" name="contacts_phone" type="tel" class="input-text" data-mask="+0 (000) 000-00-00" placeholder="+7 (___) ___-__-__">
                        </div>
                    </div>
                    <div class="form-control">
                        <textarea name="contacts_text" id="contacts_text" class="input-text" rows="3" placeholder="Напишите ваш вопрос"></textarea>
                    </div>

                    <div class="row column-mob align-items-center">
                        <button type="button" class="btn">
                            Задать вопрос
                        </button>

                        <p>
                            Нажимая на кнопку, Вы даете свое согласие на обработку <a href="#" class="text-underline">своих персональных данных</a>
                        </p>

                    </div>
                </form>
            </div>
        </div>

        <div class="contacts_main-extra">

            <h3>
                <img src="./images/contacts_icon_home.png" alt="Icon-home"> Дополнительные пункты выдачи
            </h3>

            <div class="row flex-wrap align-items-start">


                <div class="position_map-block">

                    <div class="position_map-block--media">
                        <img src="./images/contacts_poster_img_2.png" alt="Image">
                    </div>

                    <p class="text-blue text-bold">
                        г. Колпино
                    </p>
                    <p>
                        ул. Тверская, д.50, «Пункт выдачи интернет заказов OZON»
                    </p>

                    <p>
                        <span class="text-bold">Режим работы:</span> Ежедневно с 10 <sup>00</sup> до 21 <sup>00</sup>
                    </p>

                    <p>
                        Открыт для посетителей
                    </p>

                    <p>
                        <span>
                            !
                        </span> Внимание! Масочный режим
                    </p>
                </div>

                <div class="position_map-block">

                    <div class="position_map-block--media">
                        <img src="./images/contacts_poster_img_2.png" alt="Image">
                    </div>

                    <p class="text-blue text-bold">
                        г. Колпино
                    </p>
                    <p>
                        ул. Тверская, д.50, «Пункт выдачи интернет заказов OZON»
                    </p>

                    <p>
                        <span class="text-bold">Режим работы:</span> Ежедневно с 10 <sup>00</sup> до 21 <sup>00</sup>
                    </p>

                    <p>
                        Открыт для посетителей
                    </p>

                    <p>
                        <span>
                            !
                        </span> Внимание! Масочный режим
                    </p>
                </div>

                <div class="position_map-block">

                    <div class="position_map-block--media">
                        <img src="./images/contacts_poster_img_2.png" alt="Image">
                    </div>

                    <p class="text-blue text-bold">
                        г. Колпино
                    </p>
                    <p>
                        ул. Тверская, д.50, «Пункт выдачи интернет заказов OZON»
                    </p>

                    <p>
                        <span class="text-bold">Режим работы:</span> Ежедневно с 10 <sup>00</sup> до 21 <sup>00</sup>
                    </p>

                    <p>
                        Открыт для посетителей
                    </p>

                    <p>
                        <span>
                            !
                        </span> Внимание! Масочный режим
                    </p>
                </div>

                <div class="position_map-block">

                    <div class="position_map-block--media">
                        <img src="./images/contacts_poster_img_2.png" alt="Image">
                    </div>

                    <p class="text-blue text-bold">
                        г. Колпино
                    </p>
                    <p>
                        ул. Тверская, д.50, «Пункт выдачи интернет заказов OZON»
                    </p>

                    <p>
                        <span class="text-bold">Режим работы:</span> Ежедневно с 10 <sup>00</sup> до 21 <sup>00</sup>
                    </p>

                    <p>
                        Открыт для посетителей
                    </p>

                    <p>
                        <span>
                            !
                        </span> Внимание! Масочный режим
                    </p>
                </div>

                <div class="position_map-block">

                    <div class="position_map-block--media">
                        <img src="./images/contacts_poster_img_2.png" alt="Image">
                    </div>

                    <p class="text-blue text-bold">
                        г. Колпино
                    </p>
                    <p>
                        ул. Тверская, д.50, «Пункт выдачи интернет заказов OZON»
                    </p>

                    <p>
                        <span class="text-bold">Режим работы:</span> Ежедневно с 10 <sup>00</sup> до 21 <sup>00</sup>
                    </p>

                    <p>
                        Открыт для посетителей
                    </p>

                    <p>
                        <span>
                            !
                        </span> Внимание! Масочный режим
                    </p>
                </div>

                <div class="position_map-block">

                    <div class="position_map-block--media">
                        <img src="./images/contacts_poster_img_2.png" alt="Image">
                    </div>

                    <p class="text-blue text-bold">
                        г. Колпино
                    </p>
                    <p>
                        ул. Тверская, д.50, «Пункт выдачи интернет заказов OZON»
                    </p>

                    <p>
                        <span class="text-bold">Режим работы:</span> Ежедневно с 10 <sup>00</sup> до 21 <sup>00</sup>
                    </p>

                    <p>
                        Открыт для посетителей
                    </p>

                    <p>
                        <span>
                            !
                        </span> Внимание! Масочный режим
                    </p>
                </div>
            </div>

        </div>
        @@include('../components/_bad_review.html')
    </div>

</main>

@@include('../components/_footer-page.html') @@include('../components/_footer.html')