@@include('../components/_head.html') @@include('../components/_header-page.html')

<main class="main-page contract">

    <div class="container">
        <h3>
            Договор проката от 02.05.2020 года
        </h3>


        <p class="text-bold">
            1. ОБЩИЕ УСЛОВИЯ:
        </p>
        <p>
            <span class="text-bold">1.1.</span> При получении товара Вы вносите только плату за аренду — <span class="text-bold">у нас нет залога. </span>
        </p>
        <p>
            <span class="text-bold">1.2.</span> Интернет заказы поступившие за 1 час до окончания рабочего времени, будут обработаны операторами только <span class="text-bold">на следующий день.</span>
        </p>
        <p>
            <span class="text-bold">1.3.</span> Заказы на доставку принятые оператором за 1 час до окончания рабочего времени доставляются на следующий день или оплачиваются дополнительно. Подробнее в разделе <a href="#" class="text-bold">«Доставка и оплата»</a>
        </p>
        <p>
            <span class="text-bold">1.4.</span> Уточните наличие интересующего Вас товара у нашего оператора по телефону <a href="tel:8 (921) 312-54-00" class="text-bold">8 (921) 312-54-00</a>, <a href="tel:8 (812) 908-88-20" class="text-bold">8 (812) 908-88-20</a>            или мы предложим Вам альтернативный товар.
        </p>
        <p>
            <span class="text-bold">1.5.</span> Договор проката и акт приема-передачи оформляется в двух экземплярах непосредственно в момент передачи арендуемого товара.
        </p>
        <p>
            <span class="text-bold">1.6.</span> Все условия — цены за период аренды, сроки возврата, оценочная стоимость, комплектация и состояние товара на момент передачи клиенту и обратно фиксируются в Акте приема-передачи.
        </p>
        <p>
            <span class="text-bold">1.7.</span> При оформлении договора необходимо при себе иметь паспорт.
        </p>
        <p>
            <span class="text-bold">1.8.</span> Заключая договор проката Вы даете согласие на обработку персональных данных в соответствии с " <a href="#" class="text-bold">Политикой в отношении обработки персональных данных</a> " и Федеральным законом
            № 152-ФЗ «О персональных данных» от 27.07.2006 года.
        </p>
        <p>
            <span class="text-bold">1.9.</span> Везде есть минимальный период аренды. Например: на автокресла — 1 день, на стульчики для кормления — 1 неделя. Индивидуальные условия аренды возможны при согласовании с оператором.
        </p>
        <p>
            <span class="text-bold">1.10.</span> Сумма оплаты зависит от типа товара, а также периода аренды и указаны в каталоге товаров. При единовременном заказе на сумму более 4000 рублей (без учета стоимости доставки) <span class="text-bold">скидка 400 рублей</span>.
            При получении имущества Вы вносите только плату за аренду — <span class="text-bold">у нас нет залога. </span>
        </p>

        <p class="text-bold">
            2. ОПЛАТА:
        </p>
        <p>
            <span class="text-bold">2.1.</span> По условиям договора, оплата за услуги проката производится в <span class="text-bold">виде 100% аванса</span> наличными или через банковский терминал.
        </p>
        <p>
            <span class="text-bold">2.2.</span> При желании оплатить через банковский терминал курьеру, предупредите об этом оператора в момент заказа.
        </p>
        <p>
            <span class="text-bold">2.3.</span> Оплата за продление вносится на расчетный счет в банке или переводом на карту(см. условия ниже). Подробности в разделе «Доставка и оплата».
        </p>
        <p>
            <span class="text-bold">2.4.</span> Укажите вашу эл.почту в сообщении и мы пришлем Вам кассовый чек. Если вам понадобиться кассовый чек, сообщите нам дату оплаты и сумму мы предоставим всю необходимую информацию.
        </p>
        <p>
            <span class="text-bold">2.5.</span> Сумма к оплате формируется следующим образом: Арендная плата + Доставка (если она необходима).
        </p>
        <p>
            <span class="text-bold">2.6.</span> Стоимость доставки и возврата не учитывается в договоре проката и оплачивается отдельно так как услуги доставки осуществляет сторонняя организация.
        </p>
        <p>
            <span class="text-bold">2.7.</span> В случае отказа от товара на месте — выезд курьера оплачивается клиентом в размере и согласно условиям доставки.
        </p>

        <p class="text-bold">
            3. УСЛОВИЯ САМОВЫВОЗА:
        </p>
        <p>
            <span class="text-bold">3.1.</span> Уточните наличие товара в пункте выдачи по телефону <a href="tel:8 (921) 312-54-00" class="text-bold">8 (921) 312-54-00</a>, <a href="tel:8 (812) 908-88-20" class="text-bold">8 (812) 908-88-20</a>.

        </p>
        <p>
            <span class="text-bold">3.2.</span> Обязательно согласуйте время вашего визита с оператором по телефону <a href="tel:8 (921) 312-54-00" class="text-bold">8 (921) 312-54-00</a>, <a href="tel:8 (812) 908-88-20" class="text-bold">8 (812) 908-88-20</a>.
        </p>
        <p>
            <span class="text-bold">3.3.</span> Самовывоз из основного пункта выдачи (м. Пролетарская) осуществляется <span class="text-bold">ежедневно с 10.00 до 20.00</span>
        </p>
        <p>
            <span class="text-bold">3.4.</span> Дополнительные пункты выдачи: Кудрово, Колпино, Металлострой.
        </p>
        <p>
            <span class="text-bold">3.5.</span> Условия, адреса и время работы дополнительных пунктов выдачи Вы можете посмотреть в разделе "<a href="#">Контакты</a>".
        </p>


        <p class="text-bold">
            4. УСЛОВИЯ ДОСТАВКИ И ВОЗВРАТА:
        </p>
        <p>
            <span class="text-bold">4.1.</span> Доставка осуществляется без выходных и праздничных дней.
        </p>
        <p>
            <span class="text-bold">4.2.</span> Услуга предоставляется при наличии возможности и не является обязательством компании. Мы не такси и не привозим товар точно к назначенному времени. Интервал 3 часа.
        </p>
        <p>
            <span class="text-bold">4.3.</span> Возврат оплачивается в сумме равной доставке.
        </p>
        <p>


            <span class="text-bold">Важно! </span> Под возвратом подразумевается обратная доставка товара после окончания периода аренды или если товар Вам по каким-либо не зависящим от нашего проката причинам не подошел (например: по росту и весу вашего
            ребенка, по цвету или модели товара).
        </p>
        <p>
            <span class="text-bold">4.4.</span> Доставка или возврат «до двери» <span class="text-bold">в пределах КАД</span> – за доставку/возврат двух товаров 400 рублей, каждый дополнительный товар + 100 рублей.(район Рыбацкое доставка обслуживается
            по тарифам в пределах КАД) .
        </p>
        <p>
            <span class="text-bold">4.5.</span> Особые условия доставки «до двери» <span class="text-bold">за КАД+20км </span> — за доставку/возврат двух товаров 600 рублей, каждый дополнительный товар + 100 рублей (Населенные пункты: Мурино, Всеволожск,
            Парголово, Ольгино, Лахта, Лисий Нос, Петергоф, Красное село, Сестрорецк, Сертолово, Шушары и т.д.).
        </p>
        <p>
            <span class="text-bold">4.6.</span> Доставка до дополнительных пунктов выдачи – 400 рублей, возврат в пункт выдачи БЕСПЛАТНО (срок доставки 1-2 дня)
        </p>

        <p>
            <span class="text-bold">Важно!</span> При необходимости доставки или возврата до или после начала/окончания рабочего времени, стоимость услуги увеличивается на 200 рублей за доставку или возврат двух товаров, каждый дополнительный товар +
            100 рублей. Возможность доставки/возврата согласовывается с оператором.
        </p>

        <p>
            <span class="text-bold">4.7.</span> Интервал времени доставки/возврата до двери составляет ~3 часа, но может быть увеличен, так как это зависит от загруженности курьеров.
        </p>
        <p>
            <span class="text-bold">4.8.</span> Если вы хотите, чтобы вам установили автокресло или показали, как обращаться с товаром из нашего проката, пожалуйста, предупредите об этом нашего оператора в момент заказа. Иначе вы рискуете остаться без
            помощи и пытаться справиться, руководствуясь только нашими телефонными комментариями.
        </p>

        <p class="text-bold">
            5. ПРОДЛЕНИЕ ДОГОВОРА:
        </p>
        <p>
            <span class="text-bold">5.1.</span> Вы можете оплатить продление договора не приезжая к нам в офис!
        </p>
        <p>
            <span class="text-bold">5.2.</span> Сообщите о намерении продлить ваш договор оператору по номеру телефона <a href="tel:8 (921) 312-54-00" class="text-bold">8 (921) 312-54-00</a>, <a href="tel:8 (812) 908-88-20" class="text-bold">8 (812) 908-88-20</a>.
        </p>
        <p>
            <span class="text-bold">5.3.</span> Согласно условиям договора к Вашему действующему договору будет прикреплен дополнительный договор продления.
        </p>
        <p>
            <span class="text-bold">5.4.</span> Оплата за продление должна быть осуществлена <span class="text-bold">не позднее 2-х дней</span> после даты окончания договора
        </p>
        <p>
            <span class="text-bold">5.5.</span> Оплату за продление можно перечислить Интернет-банкинга (на карту)
        </p>

        <p>
            <span class="text-bold">Важно!</span> Пожалуйста, сразу после оплаты отправьте СМС на номер телефона <a href="tel:8 (921) 312 54 00" class="text-bold">8 (921) 312 54 00</a> с информацией (№ договора, сумма, оплата на карту или счет).
        </p>

        <p>
            <span class="text-bold"> 5.6. </span> Ожидайте подтверждения оплаты ответным СМС
        </p>

        <p>
            <span class="text-bold"> 5.7. </span> Берегите чек/квитанцию об оплате до конца срока аренды.
        </p>

        <p>
            <span class="text-bold"> 5.8. </span> Если вам понадобиться кассовый чек, сообщите нам дату оплаты и сумму мы предоставим всю необходимую информацию.
        </p>

        <p>
            <span class="text-bold"> 5.9. </span> На карту в Северо-Западный банк ОАО «Сбербанк России» : по номеру телефона через Сбербанк ОНЛАЙН — <a href="tel:8 (921) 312-54-00" class="text-bold">8 (921) 312-54-00</a>
        </p>

        <p>
            <span class="text-bold"> 5.10. </span> Оплата по реквизитам для юридических лиц в Северо-Западный банк ОАО «Сбербанк России»:
        </p>



        <p class="mt-5">
            <span class="text-bold">Индивидуальный предприниматель</span> Лапин Александр Владимирович
        </p>
        <p>
            <span class="text-bold">ИНН</span> 781712299463
        </p>
        <p>
            <span class="text-bold">ОГРНИП</span> 318784700149469
        </p>
        <p>
            <span class="text-bold">Расчётный счёт</span> 40802.810.5.55000013392
        </p>
        <p>
            <span class="text-bold">БИК</span> 044030653
        </p>
        <p>
            <span class="text-bold">Банк</span> СЕВЕРО-ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК
        </p>
        <p>
            <span class="text-bold">Корр. счёт </span> 30101.810.5.00000000653
        </p>


    </div>

</main>

@@include('../components/_footer-page.html') @@include('../components/_footer.html')