@@include('../components/_head.html') @@include('../components/_header-page.html')

<main class="main-page delivery">

    <div class="container">

        <div class="row column-md align-items-start">
            <div class="delivery_aside column">
                <img src="./images/delivery_car_1.png" alt="Image">

                <h3>
                    Реквизиты
                </h3>

                <p>
                    <span class="text-bold">
                        ИП
                    </span>
                    Лапин А.В.
                </p>
                <p>
                    <span class="text-bold">
                        ИНН
                    </span>
                    781712299463
                </p>
                <p>
                    <span class="text-bold">
                        ОГРНИП
                    </span>
                    318784700149469
                </p>
                <p>
                    <span class="text-bold">
                        БИК
                    </span>
                    044030653
                </p>
                <p>
                    <span class="text-bold">
                        Банк
                    </span>
                    СЕВЕРО-ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК
                </p>

                <p>
                    <span class="text-bold">
                        Расчётный счёт
                    </span>
                    40802.810.5.55000013392
                </p>
                
                <p>
                    <span class="text-bold">
                        Корр. счёт 
                    </span>
                    30101.810.5.00000000653
                </p>
                
            </div>

            <div class="delivery_main">
                <h3 class="offset_left-big">
                    <img src="./images/delivery_icon_track.png" alt="Image"> Доставка
                </h3>

                <ul class="offset_left-big">
                    <li>
                        <p>
                            Доставка осуществляется в любой день без выходных и праздничных дней.
                        </p>
                    </li>
                    <li>
                        <p>
Услуга предоставляется по возможности и не является обязательством компании.
                        </p>
                    </li>
                    <li>
                        <p>
Мы не такси и не привозим товар точно к назначенному времени! Интервал 3 часа!
                        </p>
                    </li>
                    <li>
                        <p>
Возврат оплачивается в сумме равной доставке.
                        </p>
                    </li>
                </ul>

                <h3 class="title_small offset_left-big">
                    стоимость
                    Доставки

                    <img src="./images/delivery_icon_trolley.png" alt="Image">
                </h3>

                <div class="delivery_main-block  row align-items-center column-mob justify-content-center offset_left-middle">
                    <div class="delivery_main-block--section">
                        <p>
                            Доставка или возврат 
                            «до двери» в пределах КАД
                        </p>

                        <h4>
                            400 рублей
                        </h4>

                        <p>
                            за доставку/возврат двух товаров
                        </p>

                        <span>
                            каждый дополнительный товар + 100 рублей.(район Рыбацкое доставка обслуживается по тарифам в пределах КАД) 
                        </span>
                    </div>
                    <div class="delivery_main-block--section">
                        <p>
                            Доставка или возврат 
                            «до двери» в пределах КАД
                        </p>

                        <h4>
                            400 рублей
                        </h4>

                        <p>
                            за доставку/возврат двух товаров
                        </p>

                        <span>
                            каждый дополнительный товар + 100 рублей.(район Рыбацкое доставка обслуживается по тарифам в пределах КАД) 
                        </span>
                    </div>
                </div>

                <p class="delivery_main-block--underText text-bold text-center offset_left-middle">
                    Доставка до дополнительных пунктов выдачи –  <span>400 рублей</span>, возврат в пункт выдачи БЕСПЛАТНО (срок доставки 1-2 дня)
                </p>

                <p>
                    При необходимости  доставки или возврата до или после начала/окончания рабочего времени, стоимость услуги увеличивается на <span class="text-bold">200 рублей за доставку</span> или возврат двух товаров, каждый дополнительный товар + 100 рублей. 
Возможность доставки/возврата согласовывается с оператором.
                </p>
            </div>
        </div>

        <div class="delivery_important">
            <h3>
                ВАЖНО!
            </h3>

            <p>
                Интервал времени доставки/возврата до двери составляет ~3 часа, но может быть увеличен, так как это зависит от загруженности курьеров.
            </p>

            <p>
Если вы хотите, чтобы вам установили автокресло или показали, как обращаться с товаром из нашего проката, пожалуйста, предупредите об этом нашего оператора в момент заказа. Иначе вы рискуете остаться без помощи и пытаться справиться, руководствуясь только нашими телефонными комментариями.
            </p>
        </div>

        <div class="delivery_way">

            <div class="row column-reverse-mob align-items-center">
                <p class="bg_blue">
                    При получении имущества Вы вносите ТОЛЬКО ПЛАТУ ЗА АРЕНДУ — у нас НЕТ ЗАЛОГА!!!
                </p>
    
                <h3>
                    СПОСОБЫ
                    ОПЛАТЫ
                    <img src="./images/delivery_icon_wallet.png" alt="Image">
                </h3>
            </div>

            <div class="delivery_way-list">
                <div class="delivery_way-list--item">
                   <h4>
                    Наличные или 
                    банковский терминал
                   </h4> 
                   
                   <p>
                    Оплата производится в виде 100% аванса. При желании оплатить через банковский терминал курьеру, предупредите об этом оператора в момент заказа.
                    </p>
                </div>
                <div class="delivery_way-list--item">
                   <h4>
                    Наличные или 
                    банковский терминал
                   </h4> 
                   
                   <p>
                    Оплата производится в виде 100% аванса. При желании оплатить через банковский терминал курьеру, предупредите об этом оператора в момент заказа.
                    </p>
                </div>
                <div class="delivery_way-list--item">
                   <h4>
                    Наличные или 
                    банковский терминал
                   </h4> 
                   
                   <p>
                    Оплата производится в виде 100% аванса. При желании оплатить через банковский терминал курьеру, предупредите об этом оператора в момент заказа.
                    </p>
                </div>

               
                
            </div>

        </div>

        <div class="delivery_prolong">
                <h3>
                    Хотите продлить
                    договор?
                    <img src="./images/delivery_icon_document.png" alt="Image">
                </h3>

                <div class="delivery_prolong-list">
                    <div class="delivery_prolong-list--item">
                        <p>
                            Сообщите о намерении 
                            продлить ваш договор 
                            оператору по телефону
                        </p>

                        <p class="text-bold">
                            8 (921) 312-54-00 <br>
                            8 (812) 908-88-20 
                        </p>
                    </div>
                    <div class="delivery_prolong-list--item">
                        <p>
                            Сообщите о намерении 
                            продлить ваш договор 
                            оператору по телефону
                        </p>

                        <p class="text-bold">
                            в обязательном порядке
                            не позднее 2-х дней 
                        </p>
                    </div>
                    <div class="delivery_prolong-list--item">
                        <p>
                            Сообщите о намерении 
                            продлить ваш договор 
                            оператору по телефону
                        </p>

                        <p class="text-bold">
                            8 (921) 312 54 00 
№ договора, сумма, куда оплатили
                        </p>
                    </div>
                </div>
        </div>

        <div class="delivery_btns row align-items-center justify-content-center column-mob">
            <button type="button" class="btn">
                Перейти в каталог
            </button>

            <a href="#" class="input-text row align-items-center">
                <img src="./images/delivery_icon_pdf.png" alt="Image">

                Скачать договор
            </a>
        </div>

    </div>

</main>

@@include('../components/_footer-page.html') @@include('../components/_footer.html')