@@include('../components/_head.html') @@include('../components/_header-page.html')

<main class="main-page hygiene">

    <div class="container">

        <div class="hygiene_content">
            <div class="hygiene_content-left">
                <div class="hygiene_content-block">
                    <h3>
                        Чистка и стирка

                        <span class="icon-svg">
                        <svg width="20" height="29" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0.161 0 19.678 29" fill="#434343"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="29" viewBox="2 2 19 28"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M13.57 16L2 30h7l12-14L9 2H2l11.57 14z"/></svg></svg>
                    </span>
                    </h3>

                    <p>
                        Обильное ополаскивание твердых и машинная стирка текстильных элементов. Каждый товар проходит тщательную очистку в течении 2-х дней. Только после этого товар можно снова заказать или забронировать.
                    </p>

                    <img src="./images/hygiene_img_1.jpg" alt="Image">
                </div>
                <div class="hygiene_content-block">
                    <h3>
                        Кварцевание
                        <span class="icon-svg">
                        <svg width="20" height="29" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0.161 0 19.678 29" fill="#434343"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="29" viewBox="2 2 19 28"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M13.57 16L2 30h7l12-14L9 2H2l11.57 14z"/></svg></svg>
                    </span>
                    </h3>

                    <p>
                        Кварцевание медицинской бактерицидной лампой – устройством, которое предназначено для обеззараживания воздуха и поверхностей прямыми ультрафиолетовыми лучами с бактерицидным эффектом. Такое мягкое УФ-излучение уничтожает (инактивирует) вирусы, бактерии,
                        плесень, грибки, дрожжи, споры и прочие инфекционные микроорганизмы.
                    </p>

                    <img src="./images/hygiene_img_1.jpg" alt="Image">
                </div>
            </div>
            <div class="hygiene_content-right">
                <div class="hygiene_content-block">
                    <img src="./images/hygiene_img_3.jpg" alt="Image">

                    <h3>
                        Дезинфекция
                        <span class="icon-svg">
                        <svg width="20" height="29" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0.161 0 19.678 29" fill="#434343"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="29" viewBox="2 2 19 28"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M13.57 16L2 30h7l12-14L9 2H2l11.57 14z"/></svg></svg>
                    </span>
                    </h3>

                    <p>
                        Дезинфекция, в том числе протирание, погружение и замачивание всех элементов в специальном нетоксичном моющем средстве. Эта мера необходима для уничтожения всех бактериальных инфекций, вирусных инфекций и возбудителей ОРВИ.
                    </p>
                </div>
                <div class="hygiene_content-block">
                    <img src="./images/hygiene_img_4.jpg" alt="Image">

                    <h3>
                        Упаковка
                        <span class="icon-svg">
                        <svg width="20" height="29" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0.161 0 19.678 29" fill="#434343"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="29" viewBox="2 2 19 28"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M13.57 16L2 30h7l12-14L9 2H2l11.57 14z"/></svg></svg>
                    </span>
                    </h3>

                    <p>
                        Перед транспортировкой все изделия упаковываются в одноразовую пленку или фирменные чехлы с логотипом для транспортировки клиенту.
                    </p>

                </div>
            </div>
        </div>

        <div class="hygiene_content-mob">
            <div class="hygiene_content-left">
                <div class="hygiene_content-block">
                    <h3>
                        Чистка и стирка

                        <span class="icon-svg">
                        <svg width="20" height="29" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0.161 0 19.678 29" fill="#434343"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="29" viewBox="2 2 19 28"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M13.57 16L2 30h7l12-14L9 2H2l11.57 14z"/></svg></svg>
                        </span>
                    </h3>

                    <p>
                        Обильное ополаскивание твердых и машинная стирка текстильных элементов. Каждый товар проходит тщательную очистку в течении 2-х дней. Только после этого товар можно снова заказать или забронировать.
                    </p>

                    <img src="./images/hygiene_img_3.jpg" alt="Image">
                </div>
                <div class="hygiene_content-block">
                    <h3>
                        Кварцевание
                        <span class="icon-svg">
                        <svg width="20" height="29" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0.161 0 19.678 29" fill="#434343"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="29" viewBox="2 2 19 28"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M13.57 16L2 30h7l12-14L9 2H2l11.57 14z"/></svg></svg>
                    </span>
                    </h3>

                    <p>
                        Кварцевание медицинской бактерицидной лампой – устройством, которое предназначено для обеззараживания воздуха и поверхностей прямыми ультрафиолетовыми лучами с бактерицидным эффектом. Такое мягкое УФ-излучение уничтожает (инактивирует) вирусы, бактерии,
                        плесень, грибки, дрожжи, споры и прочие инфекционные микроорганизмы.
                    </p>

                    <img src="./images/hygiene_img_4.jpg" alt="Image">
                </div>
            </div>
            <div class="hygiene_content-right">
                <div class="hygiene_content-block">

                    <h3>
                        Дезинфекция
                        <span class="icon-svg">
                        <svg width="20" height="29" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0.161 0 19.678 29" fill="#434343"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="29" viewBox="2 2 19 28"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M13.57 16L2 30h7l12-14L9 2H2l11.57 14z"/></svg></svg>
                    </span>
                    </h3>

                    <p>
                        Дезинфекция, в том числе протирание, погружение и замачивание всех элементов в специальном нетоксичном моющем средстве. Эта мера необходима для уничтожения всех бактериальных инфекций, вирусных инфекций и возбудителей ОРВИ.
                    </p>
                    <img src="./images/hygiene_img_1.jpg" alt="Image">

                </div>
                <div class="hygiene_content-block">

                    <h3>
                        Упаковка
                        <span class="icon-svg">
                        <svg width="20" height="29" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" viewBox="0.161 0 19.678 29" fill="#434343"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="29" viewBox="2 2 19 28"><path paint-order="stroke fill markers" fill-rule="evenodd" d="M13.57 16L2 30h7l12-14L9 2H2l11.57 14z"/></svg></svg>
                    </span>
                    </h3>

                    <p>
                        Перед транспортировкой все изделия упаковываются в одноразовую пленку или фирменные чехлы с логотипом для транспортировки клиенту.
                    </p>
                    <img src="./images/hygiene_img_1.jpg" alt="Image">

                </div>
            </div>
        </div>

        <div class="hygiene_text">
            <p>
                Наши детки растут не по годам, а по часам. Но как же быть, если ребенку постоянно нужно покупать различные товары на каждый возраст? Выход есть! АистЛандия поможет вам избежать лишних расходов. У нас вы можете <a href="#" class="text-bold">арендовать детские товары в Санкт-Петербурге</a>                по самой низкой цене. Наши детки растут не по годам, а по часам. Но как же быть, если ребенку постоянно нужно покупать различные товары на каждый возраст? Выход есть! АистЛандия поможет вам избежать лишних расходов.
            </p>

            <p class="mt-5">
                Наши детки растут не по годам, а по часам. Но как же быть, если ребенку постоянно нужно покупать различные товары на каждый возраст? Выход есть! АистЛандия поможет вам избежать лишних расходов. У нас вы можете <a href="#" class="text-bold">арендовать детские товары в Санкт-Петербурге</a>                по самой низкой цене.
            </p>
        </div>

    </div>

    @@include('../components/_hr_clouds.html') 

    <div class="container">

        <div class="choose_items">
            <h2>
                Мамы выбирают
            </h2>

            <p>
                Наши детки растут не по годам, а по часам. Но как же быть, если ребенку постоянно нужно покупать различные товары на каждый возраст? Выход есть! АистЛандия поможет вам избежать лишних расходов. У нас вы можете <a href="#">арендовать детские товары в Санкт-Петербурге</a>                по самой низкой цене.
            </p>

            <div class="choose_items-blocks">
                <div class="choose_items-blocks--item">

                    <div class="choose_items-item--header">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>


                        <span>
                            -17%
                        </span>
                    </div>

                    <div class="choose_items-item--body">

                        <h3>
                            Снегокат «Nika джамп» зимний спорт
                        </h3>

                        <ul class="select-custom js_select-custom">
                            <li>
                                аренда 1 неделя: 500
                            </li>

                            <ul>
                                <li>
                                    аренда 1 неделя: 500
                                </li>
                                <li>
                                    аренда 2 неделя: 500
                                </li>
                                <li>
                                    аренда 3 неделя: 500
                                </li>
                                <li>
                                    аренда 4 неделя: 500
                                </li>
                            </ul>
                        </ul>

                        <button class="btn mt-2" type="button">
                            Взять напрокат
                        </button>
                    </div>

                </div>
                <div class="choose_items-blocks--item">

                    <div class="choose_items-item--header">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>


                        <span>
                            -17%
                        </span>
                    </div>

                    <div class="choose_items-item--body">

                        <h3>
                            Снегокат «Nika джамп» зимний спорт
                        </h3>

                        <ul class="select-custom js_select-custom">
                            <li>
                                аренда 1 неделя: 500
                            </li>

                            <ul>
                                <li>
                                    аренда 1 неделя: 500
                                </li>
                                <li>
                                    аренда 2 неделя: 500
                                </li>
                                <li>
                                    аренда 3 неделя: 500
                                </li>
                                <li>
                                    аренда 4 неделя: 500
                                </li>
                            </ul>
                        </ul>

                        <button class="btn mt-2" type="button">
                            Взять напрокат
                        </button>
                    </div>

                </div>
                <div class="choose_items-blocks--item">

                    <div class="choose_items-item--header">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>


                        <span>
                            -17%
                        </span>
                    </div>

                    <div class="choose_items-item--body">

                        <h3>
                            Снегокат «Nika джамп» зимний спорт
                        </h3>

                        <ul class="select-custom js_select-custom">
                            <li>
                                аренда 1 неделя: 500
                            </li>

                            <ul>
                                <li>
                                    аренда 1 неделя: 500
                                </li>
                                <li>
                                    аренда 2 неделя: 500
                                </li>
                                <li>
                                    аренда 3 неделя: 500
                                </li>
                                <li>
                                    аренда 4 неделя: 500
                                </li>
                            </ul>
                        </ul>

                        <button class="btn mt-2" type="button">
                            Взять напрокат
                        </button>
                    </div>

                </div>
                <div class="choose_items-blocks--item">

                    <div class="choose_items-item--header">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>


                        <span>
                            -17%
                        </span>
                    </div>

                    <div class="choose_items-item--body">

                        <h3>
                            Снегокат «Nika джамп» зимний спорт
                        </h3>

                        <ul class="select-custom js_select-custom">
                            <li>
                                аренда 1 неделя: 500
                            </li>

                            <ul>
                                <li>
                                    аренда 1 неделя: 500
                                </li>
                                <li>
                                    аренда 2 неделя: 500
                                </li>
                                <li>
                                    аренда 3 неделя: 500
                                </li>
                                <li>
                                    аренда 4 неделя: 500
                                </li>
                            </ul>
                        </ul>

                        <button class="btn mt-2" type="button">
                            Взять напрокат
                        </button>
                    </div>

                </div>
            </div>


            <button type="button" class="btn">
                Смотреть все товары
            </button>
        </div>

    </div>

</main>

@@include('../components/_footer-page.html') @@include('../components/_footer.html')