@@include('../components/_head.html') @@include('../components/_header-page-main-page.html')

<main class="main-page main">


        <div class="main_comfort">
           <div class="container">
                <div class="main_comfort-header">
                    <h2>
                        Удобно и безопасно
                    </h2>

                    <p>
                        Наши детки растут не по годам, а по часам. Но как же быть, если ребенку постоянно нужно покупать различные товары на каждый возраст? Выход есть! АистЛандия поможет вам избежать лишних расходов. У нас вы можете <span>арендовать детские товары в Санкт-Петербурге</span> по самой низкой цене. У вас не будет необходимости покупать дорогостоящие товары всего на несколько месяцев, которые потом будут пылитсья в гараже или сарае.
                    </p>
                </div>

                <p>
                    Мы предоставляем вам полную гарантию безопасности для вашего ребенка. Все <span>товары в аренду для детей</span> мы подвергаем 
                    полной санитарной обработке. Проводим тщательное кварцевание и упаковываем товар как при покупке нового.
                </p>

                <h3>
                    аренда Товаров для детей в санкт-петербурге
                </h3>

                <div class="main_comfort-list">
                    <a href="#" class="main_comfort-list--item">
                        <img src="./images/main_comfort_item_poster.png" alt="Image">

                        <p>
                            Автокресла
                        </p>
                    </a>
                    <a href="#" class="main_comfort-list--item">
                        <img src="./images/main_comfort_item_poster.png" alt="Image">

                        <p>
                            Автокресла
                        </p>
                    </a>
                    <a href="#" class="main_comfort-list--item">
                        <img src="./images/main_comfort_item_poster.png" alt="Image">

                        <p>
                            Автокресла
                        </p>
                    </a>
                    <a href="#" class="main_comfort-list--item">
                        <img src="./images/main_comfort_item_poster.png" alt="Image">

                        <p>
                            Автокресла
                        </p>
                    </a>
                    <a href="#" class="main_comfort-list--item">
                        <img src="./images/main_comfort_item_poster.png" alt="Image">

                        <p>
                            Автокресла
                        </p>
                    </a>
                    <a href="#" class="main_comfort-list--item">
                        <img src="./images/main_comfort_item_poster.png" alt="Image">

                        <p>
                            Автокресла
                        </p>
                    </a>
                    <a href="#" class="main_comfort-list--item">
                        <img src="./images/main_comfort_item_poster.png" alt="Image">

                        <p>
                            Автокресла
                        </p>
                    </a>
                    <a href="#" class="main_comfort-list--item">
                        <img src="./images/main_comfort_item_poster.png" alt="Image">

                        <p>
                            Автокресла
                        </p>
                    </a>
                </div>


                <a href="#" class="btn">
                    Смотреть все товары
                </a>
           </div>
        </div>

        @@include('../components/_hr_clouds.html') 

        <div class="main_popular">
            <div class="container">
                <h2>
                    популярные товары
                </h2>

                
            <div class="choose_items-blocks">
                <div class="choose_items-blocks--item choose_items_more_info">

                    <div class="choose_items-item--header">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>


                        <span>
                            -17%
                        </span>
                    </div>

                    <div class="choose_items-item--body">

                        <h3>
                            Снегокат «Nika джамп» зимний спорт
                        </h3>

                        <div class="choose_items-item--body_info">
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                        </div>

                        <ul class="select-custom js_select-custom">
                            <li>
                                аренда 1 неделя: 500
                            </li>

                            <ul>
                                <li>
                                    аренда 1 неделя: 500
                                </li>
                                <li>
                                    аренда 2 неделя: 500
                                </li>
                                <li>
                                    аренда 3 неделя: 500
                                </li>
                                <li>
                                    аренда 4 неделя: 500
                                </li>
                            </ul>
                        </ul>

                        <button class="btn" type="button">
                            Взять напрокат
                        </button>
                    </div>

                </div>
                <div class="choose_items-blocks--item choose_items_more_info">

                    <div class="choose_items-item--header">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>


                        <span>
                            -17%
                        </span>
                    </div>

                    <div class="choose_items-item--body">

                        <h3>
                            Снегокат «Nika джамп» зимний спорт
                        </h3>

                        <div class="choose_items-item--body_info">
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                        </div>

                        <ul class="select-custom js_select-custom">
                            <li>
                                аренда 1 неделя: 500
                            </li>

                            <ul>
                                <li>
                                    аренда 1 неделя: 500
                                </li>
                                <li>
                                    аренда 2 неделя: 500
                                </li>
                                <li>
                                    аренда 3 неделя: 500
                                </li>
                                <li>
                                    аренда 4 неделя: 500
                                </li>
                            </ul>
                        </ul>

                        <button class="btn" type="button">
                            Взять напрокат
                        </button>
                    </div>

                </div>
                <div class="choose_items-blocks--item choose_items_more_info">

                    <div class="choose_items-item--header">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>


                        <span>
                            -17%
                        </span>
                    </div>

                    <div class="choose_items-item--body">

                        <h3>
                            Снегокат «Nika джамп» зимний спорт
                        </h3>

                        <div class="choose_items-item--body_info">
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                        </div>

                        <ul class="select-custom js_select-custom">
                            <li>
                                аренда 1 неделя: 500
                            </li>

                            <ul>
                                <li>
                                    аренда 1 неделя: 500
                                </li>
                                <li>
                                    аренда 2 неделя: 500
                                </li>
                                <li>
                                    аренда 3 неделя: 500
                                </li>
                                <li>
                                    аренда 4 неделя: 500
                                </li>
                            </ul>
                        </ul>

                        <button class="btn" type="button">
                            Взять напрокат
                        </button>
                    </div>

                </div>
                <div class="choose_items-blocks--item choose_items_more_info">

                    <div class="choose_items-item--header">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>


                        <span>
                            -17%
                        </span>
                    </div>

                    <div class="choose_items-item--body">

                        <h3>
                            Снегокат «Nika джамп» зимний спорт
                        </h3>

                        <div class="choose_items-item--body_info">
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                        </div>

                        <ul class="select-custom js_select-custom">
                            <li>
                                аренда 1 неделя: 500
                            </li>

                            <ul>
                                <li>
                                    аренда 1 неделя: 500
                                </li>
                                <li>
                                    аренда 2 неделя: 500
                                </li>
                                <li>
                                    аренда 3 неделя: 500
                                </li>
                                <li>
                                    аренда 4 неделя: 500
                                </li>
                            </ul>
                        </ul>

                        <button class="btn" type="button">
                            Взять напрокат
                        </button>
                    </div>

                </div>
                <div class="choose_items-blocks--item choose_items_more_info">

                    <div class="choose_items-item--header">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>


                        <span>
                            -17%
                        </span>
                    </div>

                    <div class="choose_items-item--body">

                        <h3>
                            Снегокат «Nika джамп» зимний спорт
                        </h3>

                        <div class="choose_items-item--body_info">
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                        </div>

                        <ul class="select-custom js_select-custom">
                            <li>
                                аренда 1 неделя: 500
                            </li>

                            <ul>
                                <li>
                                    аренда 1 неделя: 500
                                </li>
                                <li>
                                    аренда 2 неделя: 500
                                </li>
                                <li>
                                    аренда 3 неделя: 500
                                </li>
                                <li>
                                    аренда 4 неделя: 500
                                </li>
                            </ul>
                        </ul>

                        <button class="btn" type="button">
                            Взять напрокат
                        </button>
                    </div>

                </div>
                <div class="choose_items-blocks--item choose_items_more_info">

                    <div class="choose_items-item--header">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>


                        <span>
                            -17%
                        </span>
                    </div>

                    <div class="choose_items-item--body">

                        <h3>
                            Снегокат «Nika джамп» зимний спорт
                        </h3>

                        <div class="choose_items-item--body_info">
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                        </div>

                        <ul class="select-custom js_select-custom">
                            <li>
                                аренда 1 неделя: 500
                            </li>

                            <ul>
                                <li>
                                    аренда 1 неделя: 500
                                </li>
                                <li>
                                    аренда 2 неделя: 500
                                </li>
                                <li>
                                    аренда 3 неделя: 500
                                </li>
                                <li>
                                    аренда 4 неделя: 500
                                </li>
                            </ul>
                        </ul>

                        <button class="btn" type="button">
                            Взять напрокат
                        </button>
                    </div>

                </div>
                <div class="choose_items-blocks--item choose_items_more_info">

                    <div class="choose_items-item--header">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>


                        <span>
                            -17%
                        </span>
                    </div>

                    <div class="choose_items-item--body">

                        <h3>
                            Снегокат «Nika джамп» зимний спорт
                        </h3>

                        <div class="choose_items-item--body_info">
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                        </div>

                        <ul class="select-custom js_select-custom">
                            <li>
                                аренда 1 неделя: 500
                            </li>

                            <ul>
                                <li>
                                    аренда 1 неделя: 500
                                </li>
                                <li>
                                    аренда 2 неделя: 500
                                </li>
                                <li>
                                    аренда 3 неделя: 500
                                </li>
                                <li>
                                    аренда 4 неделя: 500
                                </li>
                            </ul>
                        </ul>

                        <button class="btn" type="button">
                            Взять напрокат
                        </button>
                    </div>

                </div>
                <div class="choose_items-blocks--item choose_items_more_info">

                    <div class="choose_items-item--header">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>


                        <span>
                            -17%
                        </span>
                    </div>

                    <div class="choose_items-item--body">

                        <h3>
                            Снегокат «Nika джамп» зимний спорт
                        </h3>

                        <div class="choose_items-item--body_info">
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                            <p>
                                <strong>
                                    Возраст:
                                </strong>

                                от 3-х до 7-ми лет
                            </p>
                        </div>

                        <ul class="select-custom js_select-custom">
                            <li>
                                аренда 1 неделя: 500
                            </li>

                            <ul>
                                <li>
                                    аренда 1 неделя: 500
                                </li>
                                <li>
                                    аренда 2 неделя: 500
                                </li>
                                <li>
                                    аренда 3 неделя: 500
                                </li>
                                <li>
                                    аренда 4 неделя: 500
                                </li>
                            </ul>
                        </ul>

                        <button class="btn" type="button">
                            Взять напрокат
                        </button>
                    </div>

                </div>
            </div>

            <a href="#" class="btn">
                Перейти в каталог
            </a>

            </div>
        </div>

        @@include('../components/_hr_clouds.html') 

        <div class="main_work">

            <div class="container">
                <h2>
                    Как мы работаем
                </h2>


                <div class="main_work-list">
                    <div class="main_work-list--item">
                        <h3>
                            Шаг 1
                        </h3>

                        <div class="main_work-list--item_block">
                            <img src="./images/main_work_icon_1.png" alt="Image">
                        </div>

                        <p>
                            Выбираете понравившиеся товары из каталога
                        </p>
                    </div>
                    <div class="main_work-list--item">
                        <h3>
                            Шаг 2
                        </h3>

                        <div class="main_work-list--item_block">
                            <img src="./images/main_work_icon_1.png" alt="Image">
                        </div>

                        <p>
                            Выбираете понравившиеся товары из каталога
                        </p>
                    </div>
                    <div class="main_work-list--item">
                        <h3>
                            Шаг 3
                        </h3>

                        <div class="main_work-list--item_block">
                            <img src="./images/main_work_icon_1.png" alt="Image">
                        </div>

                        <p>
                            Выбираете понравившиеся товары из каталога
                        </p>
                    </div>
                    <div class="main_work-list--item">
                        <h3>
                            Шаг 1
                        </h3>

                        <div class="main_work-list--item_block">
                            <img src="./images/main_work_icon_1.png" alt="Image">
                        </div>

                        <p>
                            Выбираете понравившиеся товары из каталога
                        </p>
                    </div>
                    <div class="main_work-list--item">
                        <h3>
                            Шаг 2
                        </h3>

                        <div class="main_work-list--item_block">
                            <img src="./images/main_work_icon_1.png" alt="Image">
                        </div>

                        <p>
                            Выбираете понравившиеся товары из каталога
                        </p>
                    </div>
                    <div class="main_work-list--item">
                        <h3>
                            Шаг 3
                        </h3>

                        <div class="main_work-list--item_block">
                            <img src="./images/main_work_icon_1.png" alt="Image">
                        </div>

                        <p>
                            Выбираете понравившиеся товары из каталога
                        </p>
                    </div>
                </div>
            </div>
        </div>

        @@include('../components/_hr_clouds.html') 

        <div class="main_advantages">
           <div class="container">
            <h2>
                почему нас выбирают
            </h2>

            <p>
                Наш прокат создан для того, чтобы радовать деток и их родителей. Мы даем в аренду <span class="text-bold">детские товары без ЗАЛОГА</span>. Мы понимаем наших клиентов, и например, не видим смысла брать залог если клиент и так тратит большие суммы при путешествии. У нас гибкая система скидок для постоянных клиентов! Взяли напрокат детский товар?! АистЛандия предоставит несколько <span class="text-bold">дополнительных дней проката БЕСПЛАТНО</span>. Мы ставим интересы наших клиентов на первое место! C нашим прокатом Ваша жизнь станет намного разнообразнее, а Ваш малыш сможет расти и развиваться, пользуясь лучшими игрушками и детскими товарами на все случаи жизни.
            </p>

            <div class="main_advantages-list">
                <div class="main_advantages-list--item">
                    <h3>
                        <img src="./images/main_advantages_icon_1.png" alt="Image">
                        Lorem, ipsum dolor.

                    </h3>

                    <p>
                        За многие годы в сфере услуг проката детских товаров мы изучили потребности детей и их родителей. 
                        Мы сами родители и знаем, что нужно дома и в путешествии!
                    </p>
                </div>
                <div class="main_advantages-list--item">
                    <h3>
                        <img src="./images/main_advantages_icon_1.png" alt="Image">
                        Lorem, ipsum dolor.

                    </h3>

                    <p>
                        За многие годы в сфере услуг проката детских товаров мы изучили потребности детей и их родителей. 
                        Мы сами родители и знаем, что нужно дома и в путешествии!
                    </p>
                </div>
                <div class="main_advantages-list--item">
                    <h3>
                        <img src="./images/main_advantages_icon_1.png" alt="Image">
                        Lorem, ipsum dolor.

                    </h3>

                    <p>
                        За многие годы в сфере услуг проката детских товаров мы изучили потребности детей и их родителей. 
                        Мы сами родители и знаем, что нужно дома и в путешествии!
                    </p>
                </div>
                <div class="main_advantages-list--item">
                    <h3>
                        <img src="./images/main_advantages_icon_1.png" alt="Image">
                        Lorem, ipsum dolor.
                    </h3>

                    <p>
                        За многие годы в сфере услуг проката детских товаров мы изучили потребности детей и их родителей. 
                        Мы сами родители и знаем, что нужно дома и в путешествии!
                    </p>
                </div>
            </div>

            

            <a href="#" class="btn">
                Перейти в каталог
            </a>
           </div>
        </div>

        @@include('../components/_hr_clouds.html') 
        
        <div class="main_reviews">
            <div class="container">
                <h2>
                    Отзывы наших клиентов
                </h2>


                <div class="main_reviews-list">
                    <div class="main_reviews-list--item">

                        <div class="main_reviews-list--item_header">
                            <p>
                                Фамильская И.О.
                            </p>


                            <span>
                                10.10.2020г.
                            </span>
                        </div>

                        <div class="main_reviews-list--item_body">

                            <p>
                                Благодаря вашей компании мы можем позволить себе радовать детей самыми лучшим товарами, которые не могли позволить себе купить. Можно было бы в кредит, но нет смысла влазить все равно ребенок расте каждый год
                            </p>

                        </div>

                        <div class="main_reviews-list--item_footer">

                            <picture>
                                <img src="./images/order_aside_img_1.png" alt="Image">
                            </picture>
                            <picture>
                                <img src="./images/order_aside_img_1.png" alt="Image">
                            </picture>
                            <picture>
                                <img src="./images/order_aside_img_1.png" alt="Image">
                            </picture>

                        </div>

                    </div>
                    <div class="main_reviews-list--item">

                        <div class="main_reviews-list--item_header">
                            <p>
                                Фамильская И.О.
                            </p>


                            <span>
                                10.10.2020г.
                            </span>
                        </div>

                        <div class="main_reviews-list--item_body">

                            <p>
                                Благодаря вашей компании мы можем позволить себе радовать детей самыми лучшим товарами, которые не могли позволить себе купить. Можно было бы в кредит, но нет смысла влазить все равно ребенок расте каждый год
                            </p>

                        </div>

                        <div class="main_reviews-list--item_footer">

                            <picture>
                                <img src="./images/order_aside_img_1.png" alt="Image">
                            </picture>
                            <picture>
                                <img src="./images/order_aside_img_1.png" alt="Image">
                            </picture>
                            <picture>
                                <img src="./images/order_aside_img_1.png" alt="Image">
                            </picture>

                        </div>

                    </div>
                    <div class="main_reviews-list--item">

                        <div class="main_reviews-list--item_header">
                            <p>
                                Фамильская И.О.
                            </p>


                            <span>
                                10.10.2020г.
                            </span>
                        </div>

                        <div class="main_reviews-list--item_body">

                            <p>
                                Благодаря вашей компании мы можем позволить себе радовать детей самыми лучшим товарами, которые не могли позволить себе купить. Можно было бы в кредит, но нет смысла влазить все равно ребенок расте каждый год
                            </p>

                        </div>

                        <div class="main_reviews-list--item_footer">

                            <picture>
                                <img src="./images/order_aside_img_1.png" alt="Image">
                            </picture>
                            <picture>
                                <img src="./images/order_aside_img_1.png" alt="Image">
                            </picture>
                            <picture>
                                <img src="./images/order_aside_img_1.png" alt="Image">
                            </picture>

                        </div>

                    </div>
                    <div class="main_reviews-list--item">

                        <div class="main_reviews-list--item_header">
                            <p>
                                Фамильская И.О.
                            </p>


                            <span>
                                10.10.2020г.
                            </span>
                        </div>

                        <div class="main_reviews-list--item_body">

                            <p>
                                Благодаря вашей компании мы можем позволить себе радовать детей самыми лучшим товарами, которые не могли позволить себе купить. Можно было бы в кредит, но нет смысла влазить все равно ребенок расте каждый год
                            </p>

                        </div>

                        <div class="main_reviews-list--item_footer">

                            <picture>
                                <img src="./images/order_aside_img_1.png" alt="Image">
                            </picture>
                            <picture>
                                <img src="./images/order_aside_img_1.png" alt="Image">
                            </picture>
                            <picture>
                                <img src="./images/order_aside_img_1.png" alt="Image">
                            </picture>

                        </div>

                    </div>
                    <div class="main_reviews-list--item">

                        <div class="main_reviews-list--item_header">
                            <p>
                                Фамильская И.О.
                            </p>


                            <span>
                                10.10.2020г.
                            </span>
                        </div>

                        <div class="main_reviews-list--item_body">

                            <p>
                                Благодаря вашей компании мы можем позволить себе радовать детей самыми лучшим товарами, которые не могли позволить себе купить. Можно было бы в кредит, но нет смысла влазить все равно ребенок расте каждый год
                            </p>

                        </div>

                        <div class="main_reviews-list--item_footer">

                            <picture>
                                <img src="./images/order_aside_img_1.png" alt="Image">
                            </picture>
                            <picture>
                                <img src="./images/order_aside_img_1.png" alt="Image">
                            </picture>
                            <picture>
                                <img src="./images/order_aside_img_1.png" alt="Image">
                            </picture>

                        </div>

                    </div>
                    <div class="main_reviews-list--item">

                        <div class="main_reviews-list--item_header">
                            <p>
                                Фамильская И.О.
                            </p>


                            <span>
                                10.10.2020г.
                            </span>
                        </div>

                        <div class="main_reviews-list--item_body">

                            <p>
                                Благодаря вашей компании мы можем позволить себе радовать детей самыми лучшим товарами, которые не могли позволить себе купить. Можно было бы в кредит, но нет смысла влазить все равно ребенок расте каждый год
                            </p>

                        </div>

                        <div class="main_reviews-list--item_footer">

                            <picture>
                                <img src="./images/order_aside_img_1.png" alt="Image">
                            </picture>
                            <picture>
                                <img src="./images/order_aside_img_1.png" alt="Image">
                            </picture>
                            <picture>
                                <img src="./images/order_aside_img_1.png" alt="Image">
                            </picture>

                        </div>

                    </div>
                </div>

                <div class="main_reviews-btns row column-mob">
                    <a href="#" class="btn">
                        Все отзывы
                    </a>
                    <a href="#" class="btn">
                        оставить свой отзыв
                    </a>
                </div>
            </div>
        </div>

        @@include('../components/_hr_clouds.html') 
        
        <div class="main_articles">
            <div class="container">
                <h2>
                    Интересные и полезные статьи
                </h2>

                <div class="main_articles-list">
                    <div class="main_articles-list--item">
                        <div class="main_articles-list--item_header">
                            <picture>
                                <img src="./images/main_article_poster_1.png" alt="Image">

                                <span>
                                    06
                                    янв
                                </span>
                            </picture>
                        </div>


                        <div class="main_articles-list--item_body">

                            <h3>
                                Список вещей в роддом.
                                Что взять самое основное
                            </h3>
    
                            <p>
                                Как же трогательно и волнительно осознавать, что момент встречи с малышом неумолимо приближается. И чем ближе дата родов, тем чаще будущие мамочки задаются вопросом: что взять с собой в роддом и... ничего не забыть? 
                                На просторах интернета существует огромное количество списков вещей в роддом и ещё больше советов о том, что можно захватить дополнительно. Таким […]
                            </p>
                        </div>

                    </div>
                    
                    <div class="main_articles-list--item">
                        <div class="main_articles-list--item_header">
                            <picture>
                                <img src="./images/main_article_poster_1.png" alt="Image">

                                <span>
                                    06
                                    янв
                                </span>
                            </picture>
                        </div>


                        <div class="main_articles-list--item_body">

                            <h3>
                                Список вещей в роддом.
                                Что взять самое основное
                            </h3>
    
                            <p>
                                Как же трогательно и волнительно осознавать, что момент встречи с малышом неумолимо приближается. И чем ближе дата родов, тем чаще будущие мамочки задаются вопросом: что взять с собой в роддом и... ничего не забыть? 
                                На просторах интернета существует огромное количество списков вещей в роддом и ещё больше советов о том, что можно захватить дополнительно. Таким […]
                            </p>
                        </div>

                    </div>
                    
                    <div class="main_articles-list--item">
                        <div class="main_articles-list--item_header">
                            <picture>
                                <img src="./images/main_article_poster_1.png" alt="Image">

                                <span>
                                    06
                                    янв
                                </span>
                            </picture>
                        </div>


                        <div class="main_articles-list--item_body">

                            <h3>
                                Список вещей в роддом.
                                Что взять самое основное
                            </h3>
    
                            <p>
                                Как же трогательно и волнительно осознавать, что момент встречи с малышом неумолимо приближается. И чем ближе дата родов, тем чаще будущие мамочки задаются вопросом: что взять с собой в роддом и... ничего не забыть? 
                                На просторах интернета существует огромное количество списков вещей в роддом и ещё больше советов о том, что можно захватить дополнительно. Таким […]
                            </p>
                        </div>

                    </div>
                    
                </div>

                <div class="main_articles-btns">
                    <a href="#" class="btn">
                        Смотреть все статьи
                    </a>
                </div>
            </div>
        </div>
</main>

@@include('../components/_footer-page.html') @@include('../components/_footer.html')