@@include('../components/_head.html')
@@include('../components/_header-page.html')

<main class="main-page shares">

    <div class="container">
        
        <div class="shares_blocks">
            <div class="shares_block">
                <h3>
                    Дарим скидку 10% для держателей карты петербуржца
                </h3>
        
                <div class="shares_block-card">
                    <div class="shares_block-card--content">
                        <h4>
                            Для держателей единой карты петербуржца
                        </h4>
            
                        <p>
                            на весь заказ в нашем прокате
                        </p>
            
            
                       <div class="row align-items-center">
                            <div class="shares_block-percent">
                                скидка 10%
                            </div>
                
                            <p class="text-bold">
                                Только до 31 декабря
                            </p>
                       </div>
                    </div>
        
        
                    <div class="shares_block-card--img">
                        <img src="./images/card_img.png" alt="IMAGE">
                    </div>
        
                </div>
        
                <p>
                    Для получения скидки необходимо оформить заказ через сайт указав ID вашей карты, и предъявить карту сотруднику проката при оформлении Вашего заказа.
                </p>
        
                <span>
                    Акция действует: c 01.01.2020 по 31.12.2020
                </span>
            </div>
            <div class="shares_block">
                <h3>
                    Дарим скидку 10% для держателей карты петербуржца
                </h3>
        
                <div class="shares_block-card">
                    <div class="shares_block-card--content">
                        <h4>
                            Для держателей единой карты петербуржца
                        </h4>
            
                        <p>
                            на весь заказ в нашем прокате
                        </p>
            
            
                       <div class="row align-items-center">
                            <div class="shares_block-percent">
                                скидка 10%
                            </div>
                
                            <p class="text-bold">
                                Только до 31 декабря
                            </p>
                       </div>
                    </div>
        
        
                    <div class="shares_block-card--img">
                        <img src="./images/card_img.png" alt="IMAGE">
                    </div>
        
                </div>
        
                <p>
                    Для получения скидки необходимо оформить заказ через сайт указав ID вашей карты, и предъявить карту сотруднику проката при оформлении Вашего заказа.
                </p>
        
                <span>
                    Акция действует: c 01.01.2020 по 31.12.2020
                </span>
            </div>
            <div class="shares_block">
                <h3>
                    Дарим скидку 10% для держателей карты петербуржца
                </h3>
        
                <div class="shares_block-card">
                    <div class="shares_block-card--content">
                        <h4>
                            Для держателей единой карты петербуржца
                        </h4>
            
                        <p>
                            на весь заказ в нашем прокате
                        </p>
            
            
                       <div class="row align-items-center">
                            <div class="shares_block-percent">
                                скидка 10%
                            </div>
                
                            <p class="text-bold">
                                Только до 31 декабря
                            </p>
                       </div>
                    </div>
        
        
                    <div class="shares_block-card--img">
                        <img src="./images/card_img.png" alt="IMAGE">
                    </div>
        
                </div>
        
                <p>
                    Для получения скидки необходимо оформить заказ через сайт указав ID вашей карты, и предъявить карту сотруднику проката при оформлении Вашего заказа.
                </p>
        
                <span>
                    Акция действует: c 01.01.2020 по 31.12.2020
                </span>
            </div>
            <div class="shares_block">
                <h3>
                    Дарим скидку 10% для держателей карты петербуржца
                </h3>
        
                <div class="shares_block-card">
                    <div class="shares_block-card--content">
                        <h4>
                            Для держателей единой карты петербуржца
                        </h4>
            
                        <p>
                            на весь заказ в нашем прокате
                        </p>
            
            
                       <div class="row align-items-center">
                            <div class="shares_block-percent">
                                скидка 10%
                            </div>
                
                            <p class="text-bold">
                                Только до 31 декабря
                            </p>
                       </div>
                    </div>
        
        
                    <div class="shares_block-card--img">
                        <img src="./images/card_img.png" alt="IMAGE">
                    </div>
        
                </div>
        
                <p>
                    Для получения скидки необходимо оформить заказ через сайт указав ID вашей карты, и предъявить карту сотруднику проката при оформлении Вашего заказа.
                </p>
        
                <span>
                    Акция действует: c 01.01.2020 по 31.12.2020
                </span>
            </div>


            @@include('../components/_pagination.html')
        </div>


        <div class="shares_delivery">
                <h2>
                    7 пунктов выдачи товара 
                    <span>по Санкт-Петербургу и области</span>
                </h2>

                <button type="button" class="btn">
                    Найти ближайший пункт
                </button>

                <img class="bg_img" src="./images/share_car_1.png" alt="CAR">
        </div>


        <div class="shares_choose">
            <h2>
                Мамы выбирают
            </h2>

            <p>
                Наши детки растут не по годам, а по часам. Но как же быть, если ребенку постоянно нужно покупать различные товары на каждый возраст? Выход есть! АистЛандия поможет вам избежать лишних расходов. У нас вы можете <a href="#">арендовать детские товары в Санкт-Петербурге</a> по самой низкой цене.
            </p>

            <div class="shares_choose-blocks">
                <div class="shares_choose-blocks--item">

                    <div class="shares_choose-item--header">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>


                        <span>
                            -17%
                        </span>
                    </div>

                    <div class="shares_choose-item--body">
                        
                        <h3>
                            Снегокат «Nika джамп» зимний спорт 
                        </h3>
                        
                        <ul class="select-custom js_select-custom">
                            <li>
                                аренда 1 неделя: 500
                            </li>

                            <ul>
                                <li>
                                    аренда 1 неделя: 500
                                </li>
                                <li>
                                    аренда 2 неделя: 500
                                </li>
                                <li>
                                    аренда 3 неделя: 500
                                </li>
                                <li>
                                    аренда 4 неделя: 500
                                </li>
                            </ul>
                        </ul>

                        <button class="btn" type="button">
                            Взять напрокат
                        </button>
                    </div>

                </div>
                <div class="shares_choose-blocks--item">

                    <div class="shares_choose-item--header">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>


                        <span>
                            -17%
                        </span>
                    </div>

                    <div class="shares_choose-item--body">
                        
                        <h3>
                            Снегокат «Nika джамп» зимний спорт 
                        </h3>
                        
                        <ul class="select-custom js_select-custom">
                            <li>
                                аренда 1 неделя: 500
                            </li>

                            <ul>
                                <li>
                                    аренда 1 неделя: 500
                                </li>
                                <li>
                                    аренда 2 неделя: 500
                                </li>
                                <li>
                                    аренда 3 неделя: 500
                                </li>
                                <li>
                                    аренда 4 неделя: 500
                                </li>
                            </ul>
                        </ul>

                        <button class="btn" type="button">
                            Взять напрокат
                        </button>
                    </div>

                </div>
                <div class="shares_choose-blocks--item">

                    <div class="shares_choose-item--header">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>


                        <span>
                            -17%
                        </span>
                    </div>

                    <div class="shares_choose-item--body">
                        
                        <h3>
                            Снегокат «Nika джамп» зимний спорт 
                        </h3>
                        
                        <ul class="select-custom js_select-custom">
                            <li>
                                аренда 1 неделя: 500
                            </li>

                            <ul>
                                <li>
                                    аренда 1 неделя: 500
                                </li>
                                <li>
                                    аренда 2 неделя: 500
                                </li>
                                <li>
                                    аренда 3 неделя: 500
                                </li>
                                <li>
                                    аренда 4 неделя: 500
                                </li>
                            </ul>
                        </ul>

                        <button class="btn" type="button">
                            Взять напрокат
                        </button>
                    </div>

                </div>
                <div class="shares_choose-blocks--item">

                    <div class="shares_choose-item--header">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                                <div class="swiper-slide">
                                    <img src="./images/shares_choose_img_1.jpg" alt="Image">
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        </div>


                        <span>
                            -17%
                        </span>
                    </div>

                    <div class="shares_choose-item--body">
                        
                        <h3>
                            Снегокат «Nika джамп» зимний спорт 
                        </h3>
                        
                        <ul class="select-custom js_select-custom">
                            <li>
                                аренда 1 неделя: 500
                            </li>

                            <ul>
                                <li>
                                    аренда 1 неделя: 500
                                </li>
                                <li>
                                    аренда 2 неделя: 500
                                </li>
                                <li>
                                    аренда 3 неделя: 500
                                </li>
                                <li>
                                    аренда 4 неделя: 500
                                </li>
                            </ul>
                        </ul>

                        <button class="btn" type="button">
                            Взять напрокат
                        </button>
                    </div>

                </div>
            </div>


            <button type="button" class="btn">
                Смотреть все товары
            </button>


            <h2>
                аистландия
            </h2>

            <p>
                Наши детки растут не по годам, а по часам. Но как же быть, если ребенку постоянно нужно покупать различные товары на каждый возраст? Выход есть! АистЛандия поможет вам избежать лишних расходов. У нас вы можете <a href="#">арендовать детские товары в Санкт-Петербурге</a> по самой низкой цене.
            </p>
            <p>
                Наши детки растут не по годам, а по часам. Но как же быть, если ребенку постоянно нужно покупать различные товары на каждый возраст? Выход есть! АистЛандия поможет вам избежать лишних расходов. У нас вы можете <a href="#">арендовать детские товары в Санкт-Петербурге</a> по самой низкой цене.
            </p>
        </div>

    </div>

</main>

@@include('../components/_footer-page.html')
@@include('../components/_footer.html')
