html,
body {
  font-family: "Gotham Pro" !important;
}

*,
*:before,
*:after {
  font-family: "Gotham Pro" !important;
  box-sizing: border-box;
}

.input-text {
  display: block;
  width: 100%;
  border-radius: 25px;
  outline: 0;
  border: 1px solid #c8c8c8;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 1;
  color: $black;
  text-align: center;
  transition: 0.3s ease;

  &::placeholder {
    color: #c8c8c8;
  }

  &:hover,
  &:focus,
  &:not(:placeholder-shown) {
    border-color: $blue;
  }
}

.text-bold {
  font-weight: bold !important;
}
