.delivery_block {
  padding-top: 30px;
  padding-bottom: 30px;
  background: url(../../images/share_bg-world.png) center no-repeat;
  background-color: #f2fdff;
  position: relative;
  margin-bottom: 70px;
  @media (max-width: 640px) {
    height: 350px;
  }
  @media (min-width: 640px) {
    &:after {
      content: "";
      position: absolute;
      left: 18px;
      bottom: -18px;
      width: 91px;
      height: 96px;
      background: url(../../images/share_boxes.png) center no-repeat;
      background-size: contain;
    }
  }
  &:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 91px;
    height: 96px;
    background: url(../../images/share_boxes.png) center no-repeat;
    background-size: contain;
  }
  @media (min-width: 640px) {
    &:before {
      right: 18px;
      bottom: -18px;
    }
  }
  .bg_img {
    position: absolute;
    left: 0;
    bottom: 0;
    @media (max-width: 640px) {
      max-width: 160px;
    }
  }
  h2 {
    font-size: 22px;
    color: #ff587a;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    max-width: 625px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 5;
    span {
      color: $white;
      background-color: $red;
      font-weight: 300;
      display: block;
    }
    @media (min-width: 640px) {
      font-size: 32px;
    }
    @media (max-width: 640px) {
      line-height: 1.2;
    }
  }
  .btn {
    max-width: 247px;
    background-color: $blue;
    box-shadow: none;
    font-size: 15px;
    font-weight: bold;
    line-height: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 18px;
      top: 15px;
      background: url(../../images/icon-target.png) center no-repeat;
      background-size: contain;
      width: 12px;
      height: 16px;
    }
    &:hover {
      background-color: darken($blue, 20%);
    }
  }

  &.delivery_block-small {
    @media (max-width: 640px) {
      margin-bottom: 30px;
    }
    @media (min-width: 640px) {
      &:before {
        content: none;
      }
    }

    @media (min-width: 960px) {
      h2 {
        margin-right: 0;
        padding-right: 30px;
        box-sizing: content-box;
      }
      .btn {
        margin-left: calc((100% - 655px) + (655px / 3) - 30px);
      }
    }
  }
}
