.hr_clouds {
  height: 100px;
  margin-top: 50px;
  background-image: url(../../images/hr-clouds.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  @media (min-width: 640px) {
    background-size: cover;
    background-position: center top;
  }
  @media (min-width: 960px) {
    height: 245px;
  }
}
